main {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1em;
    margin-bottom: 1em;

    width: calc(100% - 1rem);

    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}



main div {
    display: grid;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background-color: var(--color_black_transparent);

    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);

    box-shadow: 0 0 1em black;
}

main div p:first-of-type {
    color: var(--color_neon_pink) !important;
}

main div p {
    margin-top: 1rem;
    margin-bottom: 0;
}

main div p:last-child {
    margin-bottom: 1rem !important;
}

p  {
    text-align: justify;
    hyphens: auto;
    text-justify: inter-word;
}

a {
    color: var(--color_neon_pink);
}

/* Legal and Logo */
#div_about_logo_container_id {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1rem;
    row-gap: 0;
}

#div_legal_id {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
}

#about_logo_id {
    max-height: 30vh;
    max-width: 50vw;
    margin-top: auto;
    margin-bottom: auto;
}

/* Diagram */

#div_xp_id {
    grid-template-columns: 1fr;
}

#div_xp_id div {
    border: none;
    background-color: transparent;
    box-shadow: none;
    align-content: baseline;
    padding: 0;
}

#svg_xp_clac_id {
    padding: 0.5rem;
    min-width: 5em;
    max-width: 100%;
    min-height: 5em;
    max-height: 50vh;
}

#svg_xp_clac_id path {
    fill: var(--color_neon_pink);
}

#svg_xp_clac_id rect {
    stroke: var(--color_neon_pink) !important;
}

#svg_xp_clac_id g path {
    stroke: var(--color_neon_pink) !important;
}

/* Size Responsivity */
@media only screen and (min-width: 1000px) {
    #div_xp_id {
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    }

    #div_about_logo_container_id {
        grid-template-columns: auto auto;
    }
}