main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    gap: 1rem;
    box-shadow: 0 0 1em black;
}



main div {
    display: grid;
    padding: 1rem;
    margin: 0;
    padding: 0.5rem;

    background-color: var(--color_black_transparent);

    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);

    box-shadow: 0 0 1em black;
}

#div_about_logo_container_id {
    grid-column: 1/-1;
    grid-template-columns: auto auto;
    gap: 1rem;
}

p  {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

#about_logo_id {
    max-height: 25vh;
    grid-row: 1/3;
}