
/* Generated Character */


/* Everything else */

.div_character_background {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-rows: auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;

    max-width: 1000px;

    padding: 5%;
    
    -moz-box-shadow: calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) var(--box_shadow_color);
    -moz-box-shadow:  calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) var(--box_shadow_color);
    box-shadow: calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) calc(var(--padding_distance)*2) var(--box_shadow_color);
}

.div_character_block, .div_character_block_2, .div_character_block_3 {
    gap: 1em;
    align-items: start;
    align-self: start;
}

.div_character_block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.div_character_block_2 {
    display: grid;
    grid-template-columns: 1fr;
}

.div_character_block_3 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    align-items: baseline;
    align-self: start;
}

.discipline_skills div {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.div_character_card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    align-self: start;
}
}

.grid_full_span {
    grid-column: 1/-1 !important;

}

.gird_long_after_short {
    grid-template-columns: 1fr 5fr;
}


.discipline_skills {
    grid-column: 1/-1 !important;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    
    max-height: 0px;
    overflow: hidden;
    padding: 0px;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

h2, h3 {
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

.long_text {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

.discipline_name {
    text-align: left;
    padding: 0px;
}

.square_unfilled, .square_filled {
    height: 15px;
    width: 15px;
    display: inline-block;
}

.dot_filled, .dot_unfilled {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;}

.button_discipline_skills {
    padding: 10px 10px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    height: 30px;
}
