
/* Generated Character */

/* Colors */

#generated_character_id {
    background-color: black;
}

#generated_character_idf p {
    color: rgb(253, 253, 253) !important;
}

.square_filled, .dot_filled {
    background-color: var(--color_neon_pink);
}

.square_unfilled, .dot_unfilled {
    background-color: var(--color_black);
}

.discipline_skills p {
    color: black !important;
}

.button_discipline_skills {
    background-color: var(--color_black);
    color: var(--color_neon_pink);
}

