
/* Generated Character */

.div_character_background {
    background-color: var(--light_bakcground_opaque);

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;

    max-width: 800px;

    padding: 5%;

    box-shadow: 10px 10px var(--box_shadow_color);
}

.table_character {
    border-style: double;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;

    margin-top: auto;
    padding: 10px;

    width: 100%;
}

.table_character tbody tr:nth-child(2)  {
    padding-top: 20px;
}

/* .column_stat_names {
    min-width: 100px;
    max-width: 200px;
}

.column_stat_values {
    min-width: 100px;
    max-width: 200px;
} */

th {
    vertical-align: center;
    font-weight: bold;
    text-align: center;
    height: 50px;
    border-collapse: collapse;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--bg);
}

.derangement {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.character_sheet_trackers td {
    text-align: center;
}

.character_sheet_trackers_title {
    height: 60px;
}

.square_filled {
    height: 15px;
    width: 15px;
    background-color: var(--bg);
    display: inline-block;}

.square_unfilled {
    height: 15px;
    width: 15px;
    background-color: var(--fg);
    display: inline-block;
}

.discipline_name {
    text-align: left;
    padding: 0px;
}

.discipline_skills {
    visibility: collapse;
    padding: 0px;}

.dot_filled {
    height: 10px;
    width: 10px;
    background-color: var(--bg);
    border-radius: 50%;
    display: inline-block;}

.dot_unfilled {
    height: 10px;
    width: 10px;
    background-color: var(--fg);
    border-radius: 50%;
    display: inline-block;
}