
.collection_container {
    display: grid;
    grid-template-columns: 20% auto;
    margin-top: var(--nav_height);
    width: 100%;
}

.collection_container .div_select {
    display: grid;
    grid-row-gap: 10px;
    top: 20%;
    padding-bottom: var(--padding_distance);
    padding-top: var(--padding_distance);
}


select {
	display: inline-block;
    position: relative;
    top: var(--padding_distance);
    bottom: var(--padding_distance);

    width: 100%;
    height: var(--input_height);
    padding-left: var(--padding_distance);

	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	color: var(--fg);
    
	box-sizing: border-box;
	margin: 0;

	border: none;
	border-radius: none;

	background-color: var(--bg);
    box-shadow: 0 2px 0 2px rgba(0,0,0,.04);

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}


select:hover {
    background-color: var(--fg);
    color: var(--bg);
    cursor: pointer;
}

select:focus {
    border: none;
	box-shadow: none;
	color: var(--fg);
	outline: none;
}

select option {
	font-weight: normal;
}

.custom_arrow {
    display: block;
    float: right;
    position: relative;
    top: -15px;
    right: 10px;

    height: 5px;
    width: 5px;

    border-style: solid;
    border-color: var(--fg);
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    pointer-events: none;

    transform: rotate(45deg);
}

.custom_arrow:hover {
    border-color: var(--bg);
}