/* Custom Dropdown select */

/* Hide real select */
.dropdown_button input {
    display: none;
}

/* Stlye custom dropdown sleect */

.dropdown_button {
    position: relative;
    display: inline-block;
    /* box-shadow: 0 0 0.5em currentColor; */

    margin: 0;

    border-style: solid;
    /* border-width: 0.1em; */
    border-width: 0;
    border-radius: 0.25em;

    -webkit-transition: all var(--base_animation_time) ease;
    -moz-transition: all var(--base_animation_time) ease;
    -o-transition: all var(--base_animation_time) ease;
    -ms-transition: all var(--base_animation_time) ease;
    transition: all var(--base_animation_time) ease;
}

.dropdown_button p {
    pointer-events: none;
    font-size: 1rem;
    text-align: left;
    color: var(--white);
}

.dropdown_button:hover {
    cursor: pointer;
}

.dropdown_content {
    display: none;
    position: absolute;
    z-index: 1;
    width: auto;
    top: 4em;
    left: 0;
    overflow: scroll;
    margin: 0;
    padding: 0;
    background-color: var(--color_black_transparent);
    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);
    box-shadow: 0 0 1em black;
}

  /* list items inside the dropdown */
.dropdown_content li {
    list-style-type: none;
    padding: 12px 16px;
    text-decoration: none;
    color: var(--white);
    width: inherit;

}

/* Change color of dropdown links on hover */
.dropdown_content li:hover {
    cursor: pointer;
    color: var(--color_neon_pink);
    text-shadow: 0 0 2em var(--color_neon_pink);
}

.dropdown_button + span {
    display: block;
    margin: 1rem;
    height: 0.5rem;
    width: 0.5rem;
    justify-self: right; /* works best if the dropdown element is placed in a grid */
    border-style: solid;
    border-color: var(--color_neon_white);
    border-width: 0.2em;
    border-top: 0;
    border-left: 0;
    pointer-events: none;

    background-color: rgba(0, 0, 0, 0);
    color: var(--color_neon_pink);

    box-shadow:
        0 0 1em currentColor,
        inset 0 0 0.1em currentColor;

    transform: rotate(225deg);
    transform-origin: center;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;

}

.dropdown_button + span:hover {
    border-color: var(--bg);
}

.phone_custom_select_menu {
    position: fixed !important;
    width: 90%;
    left: 5%;
    overflow: scroll;
}