@font-face{
    font-family: "TickingTimebombBB";
    src: url('fonts/TickingTimebombBB.ttf');
}

.div_encounter_container {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.div_encounter_card {
    background-color: var(--color_black_transparent);

    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);

    padding: 1rem;
    margin: 0.5rem;

    box-shadow: 0 0 1em black;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: 2.5fr auto 2fr 0.5fr;
    grid-template-rows: auto;
    align-items: first baseline;

    -webkit-transition: 
        box-shadow var(--base_animation_time) ease, 
        border-color var(--base_animation_time) ease;
    -moz-transition: 
        box-shadow var(--base_animation_time) ease, 
        border-color var(--base_animation_time) ease;
    -o-transition: 
        box-shadow var(--base_animation_time) ease, 
        border-color var(--base_animation_time) ease;
    -ms-transition: 
        box-shadow var(--base_animation_time) ease, 
        border-color var(--base_animation_time) ease;
    transition: 
        box-shadow var(--base_animation_time) ease, 
        border-color var(--base_animation_time) ease;
}

.div_encounter_card:hover {
    box-shadow: 0 0 1em var(--color_neon_pink);
    border-color: var(--color_neon_white);
}

 /* Encounter elements */

 .input_encounter_name {
    grid-column: 1/5;
}

.div_encounter_card label, .div_encounter_card input[name="custom_meter_label"]{
    grid-column: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 1rem;
    color: var(--white);
}

.div_encounter_card input[type="number"] {
    grid-column: 2;
    width: calc(4em + (0.1rem * 2));
}

.div_encounter_card input[name="dice_meter"] {
    grid-column: 4 !important;
}

.div_encounter_card label[for="dice_meter"] {
    grid-column: 3 !important;
}


.tracker_container {
    grid-column: 3/6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1em, 1.25em));
    gap: 0.3rem;
    justify-items: stretch;
    min-width: 5em;
    overflow: visible;
}


.input_encounter_name, input[type="number"] {
    --border_widdth: 0.1rem;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    border-style: solid;
    border-width: var(--border_widdth);
    border-radius: 0.1rem;

    background-color: transparent;
    color: var(--white);
    text-indent: 1rem;
    
    height: 2em;
}


.input_encounter_name:hover, input[name="willpower_meter"]:hover, input[name="health_meter"]:hover, input[name="custom_meter"]:hover {
    border-color: var(--color_neon_white);

    background-color: rgba(0, 0, 0, 0);
    color: var(--color_neon_pink);
    text-shadow: 0 0 1em currentColor;

    box-shadow: 
        0 0 1.5em currentColor,
        inset 0 0 1.5em currentColor;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}


.button_encounter[name="remove_encounter"] {
    grid-column: 5/6;
    grid-row: 1;

    padding: 0;
    margin: 0;

    height: 1rem;
    overflow: initial;
}

.button_encounter[name="remove_encounter"] p {
    padding: 0;
    margin: 0;
    transform: rotate(45deg);
    text-align: center;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.button_encounter[name="remove_encounter"] p:hover {
    cursor: pointer;

    color: var(--color_neon_pink);
    text-shadow: 0 0 2em var(--color_neon_pink);
}

.tracker {
    display: inline-block;
    margin: 0;
    height: 1em;   
    width: 1em;
    border-color: var(--white);
    background-color: transparent;
    border-radius: 0.1rem;
    border-style: solid;
    border-width: 0.1rem;
}

.dice {
    display: inline-grid;
    margin: 0;
    height: 2em;   
    width: 2em;
    color: var(--color_neon_white);
    text-align: center;
    align-content: center;
    position: relative;
    z-index: 0;
    text-shadow: 0 0 0.5rem var(--color_neon_pink);
    transition: all 1s;
    font-family: TickingTimebombBB, Arial, sans-serif;
}

.dice_hunger {
    text-shadow: 0 0 0.5rem red;
}

.dice_hunger .svg_dice {
    filter: blur(0.01rem)
    drop-shadow( 0 0 0.1rem red ) 
    drop-shadow( 0 0 0.2rem red );
}


.svg_dice {
    display: block;
    z-index: -1;
    position: absolute;
    top: -10%;
    left: 0;
    overflow: visible;
    filter: blur(0.01rem)
        drop-shadow( 0 0 0.1rem var(--color_neon_pink) ) 
        drop-shadow( 0 0 0.2rem var(--color_neon_pink) );
    
    transition: all 10s;
}

.svg_dice path{
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.tracker_clicked {
    background-color: var(--color_neon_pink);
    box-shadow: 0 0 1em var(--color_neon_pink);
}

.tracker:hover {
    cursor: pointer;
    background-color: var(--white);
    box-shadow: 0 0 1em var(--white);
}

.dice_container {
    grid-column: 1/7;
    grid-row: 6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2.5em, 1fr));
    gap: 1rem;
    min-width: 5em;
    overflow: visible;
    justify-content: space-evenly;
}

.button_roll:hover {
    cursor: pointer;
}

.button_roll {
    grid-column: 1/7;
}

.button_roll p {
    pointer-events: none;
}

#add_encounter_id {
    margin-top: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    width: calc(100% - 1rem);

    grid-column-start: 1;
    grid-column-end: auto;
    cursor: pointer;

    height: 4em;
}

#add_encounter_id p {
    text-align: center;
}