
.div_encounter_container {
    margin: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.div_encounter_card {
    background-color: var(--color_black_transparent);

    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);

    padding: 1rem;

    box-shadow: 0 0 1em black;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: 0.5fr 1fr 4fr 0.25fr;
    grid-template-areas: 
        "header header header button_remove"
        "health_text health_counter health_trackers health_trackers"
        "willpower_text willpower_counter willpower_trackers willpower_trackers"
        "custom_text custom_counter custom_trackers custom_trackers";

    -webkit-transition: all var(--base_animation_time) linear;  
    -moz-transition: all var(--base_animation_time) linear;  
    -o-transition: all var(--base_animation_time) linear;  
    -ms-transition: all var(--base_animation_time) linear;  
    transition: all var(--base_animation_time) linear;
}

.div_encounter_card:hover {
    box-shadow: 0 0 1em var(--color_neon_pink);
    border-color: var(--color_neon_white);
}

 /* Encounter elements */

 .input_encounter_name {
    grid-area: header;
}


input[name="health_meter"] {
    grid-area: health_counter;
}

input[name="willpower_meter"] {
    grid-area: willpower_counter;
}

input[type="number"] {
    width: 4em;
}

.input_encounter_name, input[name="willpower_meter"], input[name="health_meter"], input[name="custom_meter"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    border-style: solid;
    border-width: 0.1rem;
    border-radius: 0.1rem;

    background-color: transparent;
    color: var(--white);
    text-indent: 1em;
    height: 2em;
}

.input_encounter_name:hover, input[name="willpower_meter"]:hover, input[name="health_meter"]:hover, input[name="custom_meter"]:hover {
    border-color: var(--color_neon_white);

    background-color: rgba(0, 0, 0, 0);
    color: var(--color_neon_pink);
    text-shadow: 0 0 1em currentColor;

    box-shadow: 
        0 0 1.5em currentColor,
        inset 0 0 1.5em currentColor;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.health_label {
    grid-area: health_text;
}

.willpower_label {
    grid-area: willpower_text;
}

.tracker_container[name="health_container"] {
    grid-area: health_trackers;
}

.tracker_container[name="willpower_container"] {
    grid-area: willpower_trackers;
}


.button_encounter[name="remove_encounter"] {
    grid-area: button_remove;
    padding: 0;
    margin: 0;
    height: 1rem;
    overflow: initial;
}

.button_encounter[name="remove_encounter"] p {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    transform: rotate(45deg);

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.button_encounter[name="remove_encounter"] p:hover {
    cursor: pointer;

    color: var(--color_neon_pink);
    text-shadow: 0 0 2em var(--color_neon_pink);
}


.custom_label {
    grid-area: custom_text;
}


input[name="custom_meter"] {
    grid-area: custom_counter;
}


.tracker_container[name="custom_container"]{
    grid-area: custom_trackers;
}

.tracker {
    display: inline-block;

    margin: 0.5rem;
    height: 1em;   
    width: 1em;

    border-color: var(--white);
    background-color: transparent;
    border-radius: 0.1rem;
    border-style: solid;
    border-width: 0.1rem;
}

.tracker_clicked {
    background-color: var(--color_neon_pink);
    box-shadow: 0 0 1em var(--color_neon_pink);
}

.tracker:hover {
    cursor: pointer;
}

#add_encounter {
    margin-top: 0;
    margin-bottom: 10%;
    margin-right: 2vw;
    margin-left: 2vw;

    grid-column-start: 1;
    grid-column-end: auto;
    cursor: pointer;

    height: 4em;
}

#add_encounter p {
    text-align: center;
}

