/* General */

:root {
    --bg: rgb(22, 22, 22);
    --fg: rgb(250, 220, 154);
    --grey: rgb(244, 213, 197);
    --white: rgb(238, 238, 238);
    --light_bakcground_opaque: rgba(239, 239, 239, 0.813);
    --nav_height: 160px;
    --nav_left_margin: 20px;
    --corner_angle: 10px;
    --input_height: 30px;
    --padding_distance: 10px;
    font-family: Georgia, serif;
}

.changable_visibility {
    visibility: visible;
}


tr.slider_row {
    height: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    border-radius: 5px;  
    background: var(--bg);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%; 
    background: var(--fg);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--bg);
    cursor: pointer;
}

.button_general {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    width: 100%;
}

.button_general:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.button_encounter {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.button_encounter:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.button_discipline_skills {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    height: 30px;
}

body {
    background-color: var(--grey);
    background-image: url("/static/svg/city_level_1.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom -10% right 50%;
    background-size: 80%;
}