/* General */

:root {
    /* Colors */
    --bg: rgb(22, 22, 22);
    --fg: rgb(250, 220, 154);
    --grey: rgb(244, 213, 197);
    --white: rgb(238, 238, 238);
    --light_bakcground_opaque: rgba(239, 239, 239, 0.813);
    --box_shadow_color: rgba(0, 0, 0, 0.807);
    --color_darkest: rgb(10,10,10);
    --color_black_transparent: rgb(0, 0, 0, 0.76);
    --color_dark_grey: rgba(81, 81, 81, 0.76);
    --color_neon_white: hsla(300, 20%, 97%, 0.937);
    --color_neon_pink: hsla(313, 94%, 70%, 1);
    --color_neon_pink_alt:  hsla(313, 60%, 70%, 1);
    --color_neon_pink_transparent: rgba(250, 107, 219, 0.493);
    --color_black: rgb(0, 0, 0);

    /* Heights */
    --nav_height: 20vh;
    --nav_left_margin: 20px;
    --corner_angle: 10px;
    --input_height: 30px;
    --padding_distance: 0.5em;
    --main_height: 10px;

    /* Time */
    --base_animation_time: 0.7s;
    --load_animation_time: 0.25s;
    --load_animation_time_randomized: 0s;
    --footer_height: 5%;
    --screen_scale: 1;

    /* Misc */
    font-family: Georgia, serif;
}

/* Font */
p {
    font-size: 1rem;
    color: var(--white) !important;
}

/* Styles */

.glass {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9),  rgba(255, 255, 255, 0.3));
}

.obsidian {
    background: rgb(17,17,17);
    background: linear-gradient(9deg, rgba(17,17,17,1) 47%, rgba(38,38,38,1) 56%, rgba(0,0,0,1) 89%, rgba(179,179,179,1) 94%, rgba(255,255,255,1) 100%);
    border-radius: 0.5em;

}

/* Buttons */

/* Button Neon */
 
.button_general {
    font-size: 1em;
    font-weight: bold;
    padding: 2em;
    
    position: relative;

    display: inline-block;
    cursor: pointer;
    width: 100%;
}


.neon {
    border: 2em;
    border-style: solid;
    border-width: 0.25em;
    border-radius: 0.25em;
    border-color: var(--color_neon_white);

    background-color: rgba(0, 0, 0, 0);
    color: var(--color_neon_pink);
    text-shadow: 0 0 1em currentColor;

    box-shadow: 
        0 0 1.5em currentColor,
        inset 0 0 1.5em currentColor;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.neon:hover {
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 1em currentColor;
}
 

/* Background (hmtl) */

html, .title_container {
    background: url("/static/bitmaps/night_street_width_2000_res_72.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 35%;
    background-size: cover;


    /* -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto; */
}


/* Footer*/

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    display: grid;
    grid-template-columns: 1fr 8fr;
    column-gap: 1em;

    width: 100%;

    background-color: var(--color_darkest);

    text-align: center;
    align-content: center;

    box-shadow: 0 -1vh 0.5vh black;
}

footer div {
    background: url("/static/bitmaps/darkpack_black_logo.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    margin-bottom: 5%;
    margin-top: 5%;
}

footer p {
    margin: 1em;
    font-size: 0.75rem;
}

/* General decorations */

.animation_ease {
    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

/* Dynamically added classes for animation */


.animation_close {
    max-height: 0px !important;
    /* overflow: hidden !important; */
}

.show {
    display: block !important;
}

.animation_rotate {
    transform: rotate(45deg) !important;
}