
/* Generated Character */

/* Colors */

#generated_character_id {
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 1em;
}

#generated_character_id p, h1, h2, h3 {
    color: rgb(253, 253, 253) !important;
}

.square_filled, .dot_filled {
    background-color: var(--color_neon_pink) !important;
}

.square_unfilled, .dot_unfilled, .button_discipline_skills {
    background-color: rgba(131, 128, 128, 0.5) !important;
}

.discipline_skills p {
    color: black !important;
}

.button_discipline_skills {
    color: var(--color_neon_pink);
}

