/* General */

:root {
    --bg: rgb(22, 22, 22);
    --fg: rgb(250, 220, 154);
    --grey: rgb(244, 213, 197);
    --white: rgb(238, 238, 238);
    --light_bakcground_opaque: rgba(239, 239, 239, 0.813);
    --box_shadow_color: rgba(0, 0, 0, 0.211);
    --color_darkest: rgb(10,10,10);
    --nav_height: 160px;
    --nav_left_margin: 20px;
    --corner_angle: 10px;
    --input_height: 30px;
    --padding_distance: 5px;
    --main_height: 10px;
    --base_animation_time: 0.7s;
    --footer_height: 5%;
    --screen_scale: 1;
    font-family: Georgia, serif;
}


/* Buttons */

.button_general {
    background-color: var(--bg);
    color: var(--fg);

    padding: 10px 10px;
    border: none;

    text-align: center;
    text-decoration: none;

    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    width: 100%;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.button_general:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.button_encounter {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
}

.button_encounter:hover {
    background-color: var(--fg);
    color: var(--bg);
}

.button_discipline_skills {
    background-color: var(--bg);
    border: none;
    color: var(--fg);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    height: 30px;
}


/* Background (Body) */

.div_background .svg_city {
    height: 30%;

    /* width: 100%; */
    position: fixed;
    bottom: -10px;
    margin-left: auto;
    margin-right: auto;

    transform: scaleX(var(--screen_scale));

    /* margin: auto; */
    z-index: -1;
    pointer-events: none;
}



body {
    background-color: var(--color_darkest);
    /* background-image: url("/static/svg/city_level_1_copy.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom -10% right 50%;
    background-size: 80%; */
}

/* Footer*/

footer {
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    height: var(--footer_height);
    background-color: var(--color_darkest);
    text-align: center;
}

footer p {
    color: var(--white);
    font-size: 12pt;
}

/* Dynamically added classes for animation */

.animation_close {
    max-height: 0px !important;
    overflow: hidden;
}

.animation_open {
    /* margin-top: -260px; */
    max-height: 100% !important;
    overflow: hidden;
}