/* Generator Inputs */


/* Containers */

.div_inputs_all {
    margin-top: calc(var(--nav_height) + 1em);
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

 
.input_container, .div_input_button_container {
    display: grid;

    -webkit-transition: all var(--base_animation_time) linear;  
    -moz-transition: all var(--base_animation_time) linear;  
    -o-transition: all var(--base_animation_time) linear;  
    -ms-transition: all var(--base_animation_time) linear;  
    transition: all var(--base_animation_time) linear;
}

.input_container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 1em;
    grid-column-gap: 1rem;
    max-height: 1000px;
}

.div_input_button_container{
    justify-items: stretch;
    margin-top: 1em;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* padding-left: 2rem;
    padding-right: 2rem; */

}


.div_input_dropdown, .div_input_type_in, .div_input_slider {
    display: grid;

    margin: 0;
    padding: var(--padding_distance);

    background-color: var(--color_black_transparent);

    border-radius: 0.5em;
    border-width: 0.1em;
    border-style: solid;
    border-color: var(--color_dark_grey);

    box-shadow: 0 0 1em black;
}

.div_input_dropdown:hover, .div_input_type_in:hover, .div_input_slider:hover {
    box-shadow: 0 0 1em var(--color_neon_pink);
    border-color: var(--color_neon_white);
}

.div_input_text_container p {
    grid-template-columns: 1fr 2fr;
    /* padding-bottom: var(--padding_distance);
    padding-left: var(--padding_distance); */
}

.div_input_dropdown {
    grid-template-columns: 1fr 2fr;
}

.div_input_slider {
    grid-template-columns: 1fr 3fr;
}

.div_input_type_in {
    grid-template-columns: 1fr 2fr 1fr;
}

.div_button_load_defaults {
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: var(--padding_distance);
    margin-bottom: var(--padding_distance);
}

.div_type_in, .div_slider {
    top: 20%;
    padding-bottom: var(--padding_distance);
    padding-top: var(--padding_distance);
}

.div_select {
    margin: 0;
    position: relative;
}


/* Inputs */

input {
	/* display: inline-block;

    position: relative;
    top: var(--padding_distance);
    bottom: var(--padding_distance);

    width: 100%;
    height: var(--input_height);
    padding-left: var(--padding_distance);

	color: var(--white);
    background: transparent;
    
	box-sizing: border-box;
	margin: 0;

    border: none;
	border-radius: none; */

	/* background-color: var(--bg); */
    /* box-shadow: 0 2px 0 2px rgba(0,0,0,.04); */

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

/* Number Inputs */
input[type="number"]{
    display: inline-block;
    width: 6em;

    -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    background-color: transparent;

    border-style: solid;
    border-color: var(--white);
    border-width: 0.1rem;
    border-radius: 0.1rem;

    color: var(--white);
    text-indent: 1em;
    height: 2em;

}

/* Text Inputs */
input[type="text"]{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    display: inline-block;
    width: 100%;

    background-color: transparent;

    border-style: solid;
    border-color: var(--white);
    border-width: 0.1rem;
    border-radius: 0.1rem;

    color: var(--white);
    text-indent: 1em;
    height: 2em;
}

input[type="number"]:hover, input[type="text"]:hover {
    border-color: var(--color_neon_white);

    background-color: rgba(0, 0, 0, 0);
    color: var(--color_neon_pink);
    text-shadow: 0 0 1em currentColor;

    box-shadow: 
        0 0 1.5em currentColor,
        inset 0 0 1.5em currentColor;
}

/* Range inputs */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 0.25rem;

    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    border-radius: 1em;

    -webkit-transition: .2s;
    transition: opacity .2s;

    z-index: 2;
}

input[type="range"]:hover {
    cursor: pointer;
}


/* Slider's circle */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--main_height);
    height: var(--main_height);
    border-radius: 50%;
    border-color: var(--color_neon_white); 
    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    cursor: pointer;
}
  
input[type="range"]::-moz-range-thumb {
    width: var(--main_height);
    height: var(--main_height);
    border-radius: 50%;
    border-color: var(--color_neon_white); 
    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    cursor: pointer;
}