/* Generator Inputs */


/* Containers */

.div_inputs_all, .input_container {
    justify-content: center;
    width: 100%;
    display: grid;
}

.div_inputs_all {
    grid-row-gap: var(--padding_distance);
    justify-content: center;
    height: 100%;

    margin-top: var(--nav_height);
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

 
.input_container, .div_input_button_container {
    display: grid;

    grid-row-gap: 0.5rem;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;

    max-height: 500px;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

.div_input_buttons {
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.div_input_dropdown, .div_input_type_in, .div_input_slider {
    display: grid;
    grid-column-gap: 10px;
}

.div_input_text_container p {
    padding-bottom: var(--padding_distance);
}

.div_input_dropdown {
    grid-template-columns: 100px auto;
}

.div_input_slider {
    grid-template-columns: 120px auto;
}

.div_input_type_in {
    grid-template-columns: 100px 100px auto;
}

.div_button_load_defaults {
    margin: auto;
    width: 100%;
    position: relative;
    margin-top: var(--padding_distance);
    margin-bottom: var(--padding_distance);
}

.div_type_in, .div_slider {
    top: 20%;
    padding-bottom: var(--padding_distance);
    padding-top: var(--padding_distance);
}

.div_select {
    margin: 0;
    position: relative;
}


/* Inputs */

input {
	display: inline-block;

    font-size: 1em;

    position: relative;
    top: var(--padding_distance);
    bottom: var(--padding_distance);

    width: 100%;
    height: var(--input_height);
    padding-left: var(--padding_distance);

	/* font-size: 12px; */
	font-family: sans-serif;
	font-weight: normal;

	color: var(--white);
    background: transparent;
    
	box-sizing: border-box;
	margin: 0;

    border-style: solid;
    border: none;
    border-color: currentColor;
	border-radius: none;

	/* background-color: var(--bg); */
    /* box-shadow: 0 2px 0 2px rgba(0,0,0,.04); */

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease;
}

/* Range inputs */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 5px;

    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    border-radius: 1em;

    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
    cursor: pointer;
}


/* Slider's circle */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--main_height);
    height: var(--main_height);
    border-radius: 50%;
    border-color: var(--color_neon_white); 
    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    cursor: pointer;
}
  
input[type="range"]::-moz-range-thumb {
    width: var(--main_height);
    height: var(--main_height);
    border-radius: 50%;
    border-color: var(--color_neon_white); 
    background-color: var(--color_neon_white);
    box-shadow: 0 0 1em var(--color_neon_pink);
    cursor: pointer;
}