/* Generator Inputs */

.div_inputs_all {
    display: grid;
    grid-row-gap: 5px;
    justify-content: center;
    padding: 5px;
    width: 80%;

    margin-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-width: 2px;

    background-color: rgba(23, 23, 23, 0.2);
}

.input_container_id, .div_input_buttons {
    justify-content: center;
    width: 100%;
}

.input_container_id {
    display: grid;
    padding: 10px;
    grid-row-gap: 0px;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    visibility: visible;
}


.div_input_dropdown, .div_input_type_in, .div_input_slider {
    display: grid;
    grid-column-gap: 10px;
}

.div_input_dropdown, .div_input_type_in, .div_input_slider p {
    padding-bottom: var(--padding_distance);
}

.div_input_dropdown {
    grid-template-columns: 100px auto;
}

.div_input_slider {
    grid-template-columns: 120px auto;
}

.div_input_type_in {
    grid-template-columns: 100px 100px auto;
}

.div_button_visibility {
    margin: auto;
    width: 100%;
    padding-bottom: var(--padding_distance);
}

.dropdown_selectors, input {
	display: inline-block;
    top: 50%;
    bottom: var(--padding_distance);

    width: 100%;
    height: var(--input_height);

    padding-left: var(--padding_distance);

	font-size: 12px;
	font-family: sans-serif;
	font-weight: normal;
	color: var(--fg);
    
	box-sizing: border-box;
	margin: 0;

	border: none;
	box-shadow: 0 2px 0 2px rgba(0,0,0,.04);
	border-radius: none;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-color: var(--bg);
}
.dropdown_selectors::-ms-expand {
	display: none;
}
.dropdown_selectors:hover, input:hover {
    background-color: var(--fg);
    color: var(--bg);
    cursor: pointer;
}
.dropdown_selectors:focus {
    border: none;
	box-shadow: none;
	color: var(--fg);
	outline: none;
}

input:focus {
    border: none;
    box-shadow: none;
    outline: none;
    background: var(--fg);
    color: var(--bg);
}

.dropdown_selectors option {
	font-weight: normal;
}

.div_select, .div_type_in, .div_slider {
    position: relative;
    top: 20%;
}

.custom_arrow {
    position: absolute;
    top: var(--padding_distance);
    right: var(--padding_distance);

    height: 5px;
    width: 5px;

    border-style: solid;
    border-color: var(--fg);
    border-width: 2px;
    border-top: 0;
    border-left: 0;
    pointer-events: none;

    transform: rotate(45deg);
}


.transform_1 {
    -webkit-transition: all 1s ease;  
    -moz-transition: all 1s ease;  
    -o-transition: all 1s ease;  
    -ms-transition: all 1s ease;  
    transition: all 1s ease;
}

.transform_1-active {
    margin-top: -270px;
}