/* Page Title */

#container_logo_id {
    display: block;

    margin: auto;
    max-width: 80%;
    min-height: 80%;
}

/* Logo svg as a whole */
#svg_logo {
    margin-left: auto;
    margin-right: auto;
    overflow: initial;
}

/* Logo svg elements inside class select */
.logo_element {
    stroke-width: 0.75em;
    stroke:  var(--color_neon_white);
    stroke-linecap: round;
    filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
}

.animation_logo_load {
    /* animation for load in */
    animation-name: logo_load;
    animation-duration: var(--load_animation_time_randomized);
    animation-iteration-count: 7;
}

.animation_logo_pulse {
    animation-name: pulsate_light;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulsate_light {
    0% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );}
    50% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink_alt) ) drop-shadow( 0 0 3em var(--color_neon_pink_alt) );}
    100% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );}
}

@keyframes logo_load {
    /* start position */
    0% {
        filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}
    
    /* turned off */
    40% {
        filter: blur(0px) drop-shadow( 0 0 0.1em  var(--color_black_transparent) ) drop-shadow( 0 0 0.1em var(--color_black_transparent) );
        stroke:  var(--color_black_transparent);}

    /* turned off */
    60% {
        filter: blur(0px) drop-shadow( 0 0 0.1em  var(--color_black_transparent) ) drop-shadow( 0 0 0.1em var(--color_black_transparent) );
        stroke:  var(--color_black_transparent);}

    /* more intense light */
    85% {
        filter: blur(1px) drop-shadow( 0 0 0.7em var(--color_neon_pink) ) drop-shadow( 0 0 3.5em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}

    /* start position */
    100% {
        filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}

}

/* Navigation Element */


#nav_id {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;

}

#nav_id li {
    display: inline-block;
    padding: 0.5rem;
}

#nav_id li a {
    text-decoration: none;
    color: var(--white);
    font-weight: normal;
}

#nav_id li a:hover {
    color: var(--color_neon_pink);
    text-shadow: 0 0 2em var(--color_neon_pink);
}