
/* Page Title */

.title_container {
    margin: auto;
    position: fixed;
    top: 0px;
    overflow: hidden;
    width: 100%;
    height: var(--nav_height);
    z-index: 5;
    /* background-color: var(--color_darkest); */
}

.title_container div {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    height: calc(var(--nav_height)*0.7);
}

/* Logo svg as a whole */
#svg_logo {
    height: calc(var(--nav_height)*0.4);
    width: auto;

    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--nav_height)*0.3);
    margin-bottom: calc(var(--nav_height)*0.1);

    overflow: initial;
}

/* Logo svg elements inside piece-by-piece select */
/* #Content > path, #Content > polyline, #Content > line{
    stroke-width: 0.75em;
    stroke:  var(--color_neon_white);
    stroke-linecap: round;
    filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
} */

/* Logo svg elements inside class select */
.logo_element {
    stroke-width: 0.75em;
    stroke:  var(--color_neon_white);
    stroke-linecap: round;
    filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
/* 
    -webkit-transition: all var(--base_animation_time) ease;  
    -moz-transition: all var(--base_animation_time) ease;  
    -o-transition: all var(--base_animation_time) ease;  
    -ms-transition: all var(--base_animation_time) ease;  
    transition: all var(--base_animation_time) ease; */
}


.animation_logo_load {
    /* animation for load in */
    animation-name: logo_load;
    animation-duration: var(--load_animation_time_randomized);
    animation-iteration-count: 7;
}

.animation_logo_pulse {
    animation-name: pulsate_light;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes pulsate_light {
    0% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );}
    50% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink_alt) ) drop-shadow( 0 0 3em var(--color_neon_pink_alt) );}
    100% { filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );}
}

@keyframes logo_load {
    /* start position */
    0% {
        filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}
    
    /* turned off */
    40% {
        filter: blur(0px) drop-shadow( 0 0 0.1em  var(--color_black_transparent) ) drop-shadow( 0 0 0.1em var(--color_black_transparent) );
        stroke:  var(--color_black_transparent);}

    /* turned off */
    60% {
        filter: blur(0px) drop-shadow( 0 0 0.1em  var(--color_black_transparent) ) drop-shadow( 0 0 0.1em var(--color_black_transparent) );
        stroke:  var(--color_black_transparent);}

    /* more intense light */
    85% {
        filter: blur(1px) drop-shadow( 0 0 0.7em var(--color_neon_pink) ) drop-shadow( 0 0 3.5em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}

    /* start position */
    100% {
        filter: blur(1px) drop-shadow( 0 0 0.5em var(--color_neon_pink) ) drop-shadow( 0 0 3em var(--color_neon_pink) );
        stroke:  var(--color_neon_white);}

}

/* .title_container h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--white);
}
.title_container p {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    color: var(--white);
} */

/* Navigation Element */

.div_navigation_container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    height: calc(var(--nav_height)*0.3);
}


nav ul {
    display: inline-block;
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
    padding: 4px;
}

nav ul li a {
    text-decoration: none;
    color: var(--white);
    font-weight: normal;
}


nav ul li a:hover {
    color: var(--color_neon_pink);
    text-shadow: 0 0 2em var(--color_neon_pink);
}