.svg_pie_chart {
    max-width: 90%;
    max-height: 90%;
    transform: rotateZ(-90deg);
    transform-origin: center center;
    position: relative;
    margin: auto;
}

.circle_pie_sector {
    fill: transparent;
    stroke: var(--color_neon_pink);
    stroke-width: 0.3rem;
    stroke-dasharray: 100%;
    stroke-linecap: round;
    transform-origin: center center;
    transition: all 0.5s;
}

.circle_pie_sector:nth-child(1) {
    filter: brightness(1);
}

.circle_pie_sector:nth-child(2) {
    filter: brightness(0.8);
}

.circle_pie_sector:nth-child(3) {
    filter: brightness(0.8);
}

.circle_pie_sector:nth-child(4) {
    filter: brightness(0.4);
}