.svg_pie_chart {
    width: 100%;
    transform: rotateZ(-90deg);
    transform-origin: center center;
}

.circle_pie_sector {
    fill: transparent;
    stroke: var(--color_neon_pink);
    stroke-width: 0.5rem;
    stroke-dasharray: 100%;
    transform-origin: center center;
    transition: stroke 0.5s;
    transition: transform 0.5s;

}

.circle_pie_sector:nth-child(1) {
    filter: opacity(1);
}

.circle_pie_sector:nth-child(2) {
    filter: opacity(0.6);
}

.circle_pie_sector:nth-child(3) {
    filter: opacity(0.4);
}

.circle_pie_sector:nth-child(4) {
    filter: opacity(0.2);
}