<!doctype html>
<html>
   <body>
        <form action = "http://localhost:5000/result" method='POST'>
            <table>
                <tbody>
                    <tr style="height:40px">
                        <th colspan="6" style="height:80px">
                            Basic Innformation
                        </th>
                    </tr>
                    <tr style="height:40px">
                        <td> 
                            Select clan manually?
                        </td>
                        <td> <input type="checkbox" name="manual_clan_condition">
                        </td>
                        <td>
                            Select sex manually?
                        </td>
                        <td>
                            <input type="checkbox" name="manual_sex_condition">
                        </td>
                        <td>
                            Select generation manually?
                        </td>
                        <td>
                            <input type="checkbox" name="manual_generation_condition">
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td>
                             Clan:
                        </td>
                        <td>
                            <select list="clans" name="manual_clan">
                                <datalist id="clans">
                                    {% for clan in requested_clan_data %}
                                    <option value={{ clan }}> {{ clan }} </option>
                                    {% endfor %}
                                </datalist>
                        </td>
                        <td>
                            Sex:
                        </td>
                        <td>
                            <select list="sexes" name="manual_sex">
                                <datalist id="sexes">
                                    <option value="Female"> Female </option>
                                    <option value="Male"> Male </option>
                                </datalist>
                        </td>
                        <td> Generation:
                        </td>
                        <td>
                            <select list="gens" name="manual_generation">
                            <datalist id="gens">
                                {% for gen in requested_generation_data %}
                                    <option value={{ gen }}> {{ gen }} </option>
                                {% endfor %}
                            </datalist>
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td> 
                            Select age manually?
                        </td>
                        <td>
                            <input type="checkbox" name="manual_age_condition" >
                        </td>
                        <td>
                            Select name manually?
                        </td>
                        <td>
                            <input type="checkbox" name="manual_name_condition">
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td>
                            Age:
                        </td>
                        <td>
                            <input type="number" name="manual_age" min="1" max="3000" value={{ detail["manual_age"] }}>
                        </td>

                        <td>
                            Name:
                        </td>
                        <td>
                            <input type="text" name="manual_name" placeholder="Random" value={{ detail["manual_name"] }}>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6" style="height:80px">
                            Weights
                        </th>
                    </tr>
                        {% for key1, val1 in requested_slider_data.items() %}
                    <tr style="height:40px">
                            {% for key2, val2 in val1.items() %}
                            <td> {{ key2 }}
                            </td> 
                            <td> <input type="range" 
                                name={{ key2 }} 
                                min="0" 
                                max="100"
                                value= {{ detail[key2] }}>
                            </td> 
                            {% endfor %}
                    </tr>
                        {% endfor %}
                    <tr style="height:40px">
                        <th colspan="6" style="height:80px">
                            <input type="submit" value="Generate !">
                        </th>
                    </tr>
                </tbody>
            </table>
        </form>
        <div>
            {{ tStrToLoad | safe }}
        </div>
   </body>
</html>

