<!doctype html>
<html>
   <body>
        <form action = "http://localhost:5000/result" method='POST'>
            {% for key1, val1 in requested_non_slider_data.items() %}
                <p> {{ val1['field_text'] }} <input 
                    type = {{ val1['type'] }} 
                    name = {{ key1 }} /></p>
            {% endfor %}
            <p>Sex: 
                <input list="sexes" 
                       name="manual_sex">
                <datalist id="sexes">
                    <option value="Female">
                    <option value="Male">
                </datalist>
            </p>
            <p>Clan: 
                <input list="clans" name="manual_clan">
                <datalist id="clans">
                    {% for clan in requested_clan_data %}
                    <option value={{ clan }}>
                    {% endfor %}
                </datalist>
            </p>
            {% for key1, val1 in requested_slider_data.items() %}
                <p> {{ key1 }} </p>
                {% for key2, val2 in val1.items() %}
                {{ key2 }} <input type="range" 
                                  name={{ key2 }} 
                                  min="0" 
                                  max="100">
                {% endfor %}
            {% endfor %}
            <p><input type="submit" value="Generate !"></p>
        </form>
   </body>
</html>