<!doctype html>
{% extends "basic_info_request_default.html" %}
    {% block generated_characters %}
        <table class="center">
            <style>
                th {vertical-align: top;
                    font-weight: bold;
                    text-align: center;
                    padding: 20px;}
                
                .discipline_name {text-align: left;
                                  padding: 0px;}

                td {vertical-align: top;
                    padding: 2px;
                    font-weight: normal;
                    text-align: left;
                    max-width: 350px;
                    hyphens: auto;}

                .discipline_skills {visibility: collapse;
                                    padding: 0px}

                .dot_filled {height: 10px;
                             width: 10px;
                             background-color: var(--black);
                             border-radius: 50%;
                             display: inline-block;}

                .dot_unfilled {height: 10px;
                               width: 10px;
                               background-color: var(--grey);
                               border-radius: 50%;
                               display: inline-block;}
            </style>
            <tr>
                <th colspan="6"> Basic Information </th>
            </tr>
            {% for row in details %}
                <tr>
                    <td> {{ row['col1'] }} </td>
                    <td> {{ row['col2'] }} </td>
                    <td> {{ row['col3'] }} </td>
                    <td> {{ row['col4'] }} </td>
                    <td> {{ row['col5'] }} </td>
                    <td> {{ row['col6'] }} </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"> Physical Attributes </th>
                <th colspan="2"> Social Attributes </th>
                <th colspan="2"> Mental Attributes </th>
            </tr>
            {% for row in attributes %}
                <tr>
                    <td> {{ row['col1'] }} </td>
                    <td>
                        <table>
                            {% for i in range(0, row['col2']) %}
                                <td> <span class="dot_filled"></span> </td>    
                            {% endfor %}
                            {% for i in range(0, max_level - row['col2']) %}
                                <td> <span class="dot_unfilled"></span> </td>    
                            {% endfor %}
                        </table>
                    </td>
                    <td> {{ row['col3'] }} </td>
                    <td>                         
                        <table>
                        {% for i in range(0, row['col4']) %}
                            <td> <span class="dot_filled"></span> </td>    
                        {% endfor %}
                        {% for i in range(0, max_level - row['col4']) %}
                            <td> <span class="dot_unfilled"></span> </td>    
                        {% endfor %}
                    </table>
                </td></td>
                    <td> {{ row['col5'] }} </td>
                    <td>
                        <table>
                            {% for i in range(0, row['col6']) %}
                                <td> <span class="dot_filled"></span> </td>    
                            {% endfor %}
                            {% for i in range(0, max_level - row['col6']) %}
                                <td> <span class="dot_unfilled"></span> </td>    
                            {% endfor %}
                        </table>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"> Physical Skills </th>
                <th colspan="2"> Social Skills </th>
                <th colspan="2"> Mental Skills </th>
            </tr>
            {% for row in skills %}
                <tr>
                    <td> {{ row['col1'] }} </td>
                    <td>
                        <table>
                            {% for i in range(0, row['col2']) %}
                                <td> <span class="dot_filled"></span> </td>    
                            {% endfor %}
                            {% for i in range(0, max_level - row['col2']) %}
                                <td> <span class="dot_unfilled"></span> </td>    
                            {% endfor %}
                        </table>
                    </td>
                    <td> {{ row['col3'] }} </td>
                    <td>                         
                        <table>
                            {% for i in range(0, row['col4']) %}
                                <td> <span class="dot_filled"></span> </td>    
                            {% endfor %}
                            {% for i in range(0, max_level - row['col4']) %}
                                <td> <span class="dot_unfilled"></span> </td>    
                            {% endfor %}
                    </table>
                </td></td>
                    <td> {{ row['col5'] }} </td>
                    <td>
                        <table>
                            {% for i in range(0, row['col6']) %}
                                <td> <span class="dot_filled"></span> </td>    
                            {% endfor %}
                            {% for i in range(0, max_level - row['col6']) %}
                                <td> <span class="dot_unfilled"></span> </td>    
                            {% endfor %}
                        </table>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3"> Clan Disciplines </th>
                <th colspan="3"> Non Clan Disciplines </th>
            </tr>
            {% for row in disciplines %}
                <tr>
                    <th class="discipline_name"> {{ '' if row['col1'] == '' else row['col1'] }} </th>
                    <td>
                        {% if row['col1'] != '' %}
                            {% for i in range(0, row['col2']['Level']) %}
                                <span class="dot_filled"></span>
                            {% endfor %}
                            {% for i in range(0, max_level - row['col2']['Level']) %}
                                <span class="dot_unfilled"></span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row['col1'] != '' %}
                            <button
                                class="button"
                                id={{ row['col2']['discipline_number'] }} 
                                onclick="toggle_visibility(this.id)"> 
                                Hide/Show Skills 
                            </button>
                        {% endif %}
                    </td>
                    <th class="discipline_name"> {{ '' if row['col3'] == '' else row['col3'] }} </th>
                    <td>
                        {% if row['col3'] != '' %}
                            {% for i in range(0, row['col4']['Level']) %}
                                <span class="dot_filled"></span>
                            {% endfor %}
                            {% for i in range(0, max_level - row['col4']['Level']) %}
                                <span class="dot_unfilled"></span>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if row['col3'] != '' %}
                            <button
                                class="button"
                                id={{ row['col4']['discipline_number'] }} 
                                onclick="toggle_visibility(this.id)">
                                Hide/Show Skills
                            </button>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        {% if row['col1'] != '' %}
                            <table class="discipline_skills" id={{ '' if row['col1'] == '' else row['col1'] }}>
                                {% for skill in row['col2']['Skills'] %}
                                <tr>
                                    <td> {{ '' if row['col1'] == '' else skill }} </td>
                                    <td> {{ '' if row['col1'] == '' else row['col2']['Skills'][skill] }} </td>
                                </tr>
                                {% endfor %}  
                            </table>
                        {% endif %}
                    </td>
                    <td colspan="3">
                        {% if row['col3'] != '' %}
                            <table class="discipline_skills" id={{ '' if row['col3'] == '' else row['col3'] }}> 
                                {% for skill in row['col4']['Skills'] %}
                                    <tr>
                                        <td> {{ '' if row['col3'] == '' else skill }} </td>
                                        <td> {{ '' if row['col3'] == '' else row['col4']['Skills'][skill] }} </td>
                                    </tr>
                                {% endfor %}   
                            </table>
                        {%  endif %}
                    </td>                            
                </tr>            
            {% endfor %}
        </table>
        <script>
            function toggle_visibility(button_id) {
                var skill_tables = document.getElementsByClassName("discipline_skills");
                var specific_disciplines_skills = skill_tables[button_id];
                console.log(skill_tables);
                console.log(specific_disciplines_skills);
                // var specific_disciplines_skills = document.getElementById("Dominate");
                if (specific_disciplines_skills.style.visibility === "collapse") {
                    specific_disciplines_skills.style.visibility = "visible";
                } else {
                    specific_disciplines_skills.style.visibility = "collapse";
                }
            }
        </script>
    {% endblock %}