<!doctype html>
{% extends "basic_info_request_default.html" %}
    {% block generated_characters %}
        <table>
            <style>
                th {display: table-cell;
                    vertical-align: inherit;
                    font-weight: bold;
                    text-align: center;}
                td {display: table-cell;
                    vertical-align: inherit;
                    font-weight: normal;
                    text-align: left;
                    max-width: 400px;}
            </style>
            <tr>
                <th colspan="6"> Basic Information </th>
            </tr>
            {% for row in details %}
                <tr>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col1'] }} </td>
                    <td style="vertical-align:top" style="width:30%"> {{ row['col2'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col3'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col4'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col5'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col6'] }} </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"> Physical Attribute </th>
                <th colspan="2"> Social Attribute </th>
                <th colspan="2"> Mental Attribute </th>
            </tr>
            {% for row in attributes %}
                <tr>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col1'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col2'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col3'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col4'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col5'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col6'] }} </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"> Physical Skill </th>
                <th colspan="2"> Social Skill </th>
                <th colspan="2"> Mental Skill </th>
            </tr>
            {% for row in skills %}
                <tr>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col1'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col2'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col3'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col4'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col5'] }} </td>
                    <td style="vertical-align:top" style="width:100%"> {{ row['col6'] }} </td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3"> Clan Disciplines </th>
                <th colspan="3"> Non Clan Disciplines </th>
            </tr>
            {% for row in disciplines %}
                <tr>
                    <th style="vertical-align:top" style="width:100%"> {{ '' if row['col1'] == '' else row['col1'] }} </th>
                    <td style="vertical-align:top" style="width:100%"> {{ '' if row['col1'] == '' else row['col2']['Level'] }} </td>
                    <td>
                        <table>
                            {% for skill in row['col2']['Skills'] %}
                            <tr>
                                <td style="vertical-align:top" style="width:200px"> {{ '' if row['col1'] == '' else skill }} </td>
                                <td style="vertical-align:top" style="width:100"> {{ '' if row['col1'] == '' else row['col2']['Skills'][skill] }} </td>
                            </tr>
                        {% endfor %}  
                        </table>
                    </td> 
                    <th style="vertical-align:top" style="width:100%"> {{ '' if row['col3'] == '' else row['col3'] }} </th>
                    <td style="vertical-align:top" style="width:100%"> {{ '' if row['col3'] == '' else row['col4']['Level'] }} </td>
                    <td>
                        <table>
                            {% for skill in row['col4']['Skills'] %}
                                <tr>
                                    <td style="vertical-align:top" style="width:200px"> {{ '' if row['col3'] == '' else skill }} </td>
                                    <td style="vertical-align:top" style="width:200px"> {{ '' if row['col3'] == '' else row['col4']['Skills'][skill] }} </td>
                                </tr>
                            {% endfor %}   
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}