<html>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Manual name generation <input type = "checkbox" name = "ManualNameGenreation" /></p>
         <p>Clan <input type = "text" name = "Clan" /></p>
         <p>Manual clan generation <input type = "checkbox" name = "ManualClanGenreation" /></p>
         <p>Generation <input type = "text" name = "Generation" /></p>
         <p>Manual generation generation <input type = "checkbox" name = "ManualClanGenreation" /></p>
         <p>Age <input type ="text" name = "Age" /></p>
         <p>Manual age generation <input type = "checkbox" name = "ManualAgeGenreation" /></p>
         <p>Sex <input type ="text" name = "Sex" /></p>
         <p>Manual sex generation <input type = "checkbox" name = "ManualSexGenreation" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>