<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/about.css') }}">

        {% include "head_meta.html" %}
    </head>

    <body>

        {% include "navigation.html" %}

        <main>

            {% include "background.html" %}

            <div>
                <p>Development</p>
                <p>
                    AutoFeed is developed by an enthusiastic fan of the Vampire The Masquerade, Bence Levente Bodó.
                    It is intended as free-to-use tool for interasting ramdomized narration.
                </p>
            </div>
    
            <div>
                <p>Thanks to</p>
                <p>
                    My darling, Fru for everything related to coding and much more.
                </p>
                <p>
                    Mároly and Márk for their insight into the mathematics of XP calculation.
                </p>
                <p>
                    The Cordoba crew for their infinite supply of vampire experiences.
                </p>
            </div>

            <div>
                <p>Contact</p>
                <p>Feel free to drop an email with any observations, recomendation, or anything at:</p>
                <p>autofeed.generator@gmail.com</p>
            </div>

            <div>
                <p>Support AutoFeed</p>
                <p>
                    By becoming its a patron at:
                </p>
                <a href="https://www.patreon.com/autofeed" target="_blank">https://www.patreon.com/autofeed</a>
            </div>

            <div>
                <p>Automatic XP Calculation</p>
                <p>When generated as opposed to normal character generation, characters start with 400 XP points, which together with future XP poins is spent according to the normal rules. With each year the vampire "lives" it get less and less XP points, simulating how eventually there will be nothing new under the Sun. At the max age of 3000 the vampire the vampire will learn nothing new and have accumulated a total of circa 1600 XP points.</p>

                {% include "xp_calculation_diagram.html" %}
               
            </div>
    
            <div id="div_about_logo_container_id">
                <img src="{{ url_for('static', filename='bitmaps/darkpack_tranparent_logo_color_change_500px.png') }}" alt="dark pack logo" id="about_logo_id">
                <p>
                    Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with permission.
                    All rights reserved. For more information please visit worldofdarkness.com.
                </p>
                <p>
                    The contents of this site / web application are not official World of Darkness materials.
                </p>
            </div>  

        </main>

        {% include "footer.html" %}

        <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>

    </body>
</html>