<form action="/result_city" method='POST'>
    <div id="input_container_id">
        <div>
            <p>
                <span style="color: var(--color_neon_pink);">Faction sliders: </span> The values of the faction sliders represent the number of kindred in the given faction for the generated city, not percentages.
            </p>
            <p>
                <span style="color: var(--color_neon_pink);">Age deviation: </span> As a regular statistical measure, age deviation represents how much the a citizen's age will be able to differ from the average age. Additioanlly there is a minimum age.
            </p>
            <p>
                <span style="color: var(--color_neon_pink);">Male to female: </span> Represents the ratio of the sexes.
            </p>
        </div>

        <div>
            <label for="slider_camarilla_id" style="grid-column: 1;">Camarilla:</label>
            <input id="slider_camarilla_id" data-reference-id="value_camarilla_id" data-reference-pie-variable="--pie_Section_1_end" data-reference-pie-class="pie_faction" class="slider pie_input" type="range"
                name="slider_camarilla" min="0" max="25" value="10">
            <label for="slider_camarilla_id" id="value_camarilla_id" style="grid-column: 3;">10</label>
            <span></span>

            <label for="slider_anarch_id" style="grid-column: 1;">Anarch:</label>
            <input id="slider_anarch_id" data-reference-id="value_anarch_id" data-reference-pie-variable="--pie_Section_2_end" data-reference-pie-class="pie_faction" class="slider pie_input" type="range"
                name="slider_anarch" min="0" max="25" value="4">
            <label for="slider_anarch_id" id="value_anarch_id" style="grid-column: 3;">4</label>
            <span></span>

            <label for="slider_sabbath_id" style="grid-column: 1;">Sabbath:</label>
            <input id="slider_sabbath_id" data-reference-id="value_sabbath_id" data-reference-pie-variable="--pie_Section_3_end" data-reference-pie-class="pie_faction" class="slider pie_input" type="range"
                name="slider_sabbath" min="0" max="25" value="3">
            <label for="slider_sabbath_id" id="value_sabbath_id" style="grid-column: 3;">3</label>
            <span></span>

            <label for="slider_independent_id" style="grid-column: 1;">Independent:</label>
            <input id="slider_independent_id" data-reference-id="value_independent_id" data-reference-pie-variable="--pie_Section_4_end" data-reference-pie-class="pie_faction" class="slider pie_input" type="range"
                name="slider_independent" min="0" max="25" value="1">
            <label for="slider_independent_id" id="value_independent_id" style="grid-column: 3;">1</label>
            <span></span>
            
            <!-- both pies use the same inputs and abode, one is to be blurred for effect, the other is crisp -->
            <div class="pie_chart pie_faction"></div> 
            <div class="pie_chart pie_faction"></div>

        </div>

        <div>
            <label for="slider_average_age_id">Average age:</label>
            <input id="slider_average_age_id" data-reference-id="value_average_age_id" class="slider" type="range"
                name="slider_average_age" min="30" max="1000" value="300">

            <label for="slider_average_age_id" id="value_average_age_id">300</label>
        </div>

        <div>
            <label for="slider_age_deviation_id">Age deviation:</label>
            <input id="slider_age_deviation_id" data-reference-id="value_age_deviation_id" class="slider" type="range"
                name="slider_age_deviation" min="0" max="500" value="120">

            <label for="slider_age_deviation_id" id="value_age_deviation_id">120</label>
        </div>

        <div>
            <label for="slider_male_to_female_id">Male to female:</label>
            <input id="slider_male_to_female_id" data-reference-id="value_male_to_female_id" class="slider" type="range"
                name="slider_male_to_female" min="0" max="100" value="50">

            <label for="slider_male_to_female_id" id="value_male_to_female_id">50</label>
        </div>

    </div>
    
    </div>

    <div>
        <input type="button" value="LOAD DEFAULT VALUES" id="button_load_defaults">

        <input id="button_input_contianer_visibility" data-target-id="input_container_id"
            data-target-class-1="animation_close" type="button" value="HIDE/SHOW INPUTS">

        <input type="submit" value="GENERATE">
    </div>

</form>