<div class="div_encounter_card">

    <input type="text" class="input_encounter_name" value="My powerful Enemy" name="encounter_name">

    <label for="health_meter">Health</label>
    <input type="number" name="health_meter" min="1" max="20" value="8" data-class-name="tracker">
    <div class="tracker_container" name="health_container">
        <div class="tracker">
        </div>
    </div>

    <label for="willpower_label">Willpower</label>
    <input type="number" name="willpower_meter" min="1" max="20" value="9" data-class-name="tracker">
    <div class="tracker_container" name="willpower_container">
        <div class="tracker">
        </div>
    </div>

    <input type="text" class="input_encounter_name" name="custom_meter_label" value="Custom Tracker">
    <input type="number" name="custom_meter" min="1" max="20" value="3" data-class-name="tracker">
    <div class="tracker_container" name="custom_container">
        <div class="tracker">
        </div>
    </div>

    <label for="hunger_meter">Hunger</label>
    <input type="number" name="hunger_meter" min="0" max="5" value="3">
    <label for="dice_meter">#Dice   </label>
    <input type="number" name="dice_meter" min="1" max="20" value="6" data-class-name="dice">

    <div class="dice_container">
    </div>

    <input type="button" class="button_roll" value="ROLL">   
    </input>

    <div class="button_encounter" name="remove_encounter">
        <p name="remove_encounter">+</p>
    </div>

</div>