<form action="/result_character" method='POST'>
    <div id="input_container_id">
        <div>
            <p>
                <span style="color: var(--color_neon_pink);">Sliders: </span> The ratio of the focus sliders (mental, social, physical) in relation to each other influence
                the personality of the generated character. The "Non-clan disciplines" slider controls the ratio to which the character might learn dark skills outside of their clan.
            </p>
            <p>
                <span style="color: var(--color_neon_pink);">Age: </span> The maximum age is 3000, therefore in most cases the use of manual age
                is recommended for characters that accomodate average gaming sessions better.
            </p>
            <p>
                <span style="color: var(--color_neon_pink);">Generation: </span> These values range between 3 and 16, therefore, a manual input will
                yield more usuable characters in most cases, and avoids the creation of
                overpowering antediluvians.
            </p>
            <p>
                <span style="color: var(--color_neon_pink);">Level 5+ skills: </span> VTM 5th edition currently describes disciplines only up to level 5.
                If needed, higher level disciplines can be added using V20 rules.
            </p>
        </div>

        <div>
            <label for="slider_social_id">Social focus:</label>
            <input id="slider_social_id" data-reference-id="value_social_id"  data-reference-pie-variable="--pie_Section_1_end" data-reference-pie-class="pie_attributes" class="slider pie_input" type="range"
                name="simplified_social" min="0" max="100" value="50">
            <label for="slider_social_id" id="value_social_id">50</label>
            <span></span>

            <label for="slider_mental_id">Mental focus:</label>
            <input id="slider_mental_id" data-reference-id="value_mental_id"  data-reference-pie-variable="--pie_Section_2_end" data-reference-pie-class="pie_attributes" class="slider pie_input" type="range"
                name="simplified_mental" min="0" max="100" value="50">
            <label for="slider_mental_id" id="value_mental_id">50</label>
            <span></span>

            <label for="slider_physical_id">Physical focus:</label>
            <input id="slider_physical_id" data-reference-id="value_physical_id"  data-reference-pie-variable="--pie_Section_3_end" data-reference-pie-class="pie_attributes" class="slider pie_input" type="range"
                name="simplified_physical" min="0" max="100" value="50">
            <label for="slider_physical_id" id="value_physical_id">50</label>
            <span></span>
            
            <!-- both pies use the same inputs and abode, one is to be blurred for effect, the other is crisp -->
            <div class="pie_chart pie_attributes"></div> 
            <div class="pie_chart pie_attributes"></div>
        </div>

        <div>
            <label for="slider_discipline_id">Non-clan disciplines:</label>
            <input id="slider_discipline_id" data-reference-id="value_discipline_id" class="slider" type="range"
                name="simplified_discipline" min="0" max="100" value="5">

            <label for="slider_discipline_id" id="value_discipline_id">5</label>
        </div>

        <div>
            <label for="button_clan_list_id">Clan:</label>
            <div class="dropdown_button " data-reference-id="clan_container"
                data-reference-id-arrow="custom_arrow_id_clan" id="button_clan_list_id">
                <p>Random</p>
                <input type="text" id="selection_clan_id" name="manual_clan" value="Random">
                <ul class="dropdown_content" data-reference-id-button="button_clan_list_id" id="clan_container">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_clan_id"
                        data-reference-id-button="button_clan_list_id" name="clan_option"> Random </li>
                    {% for clan in clans %}
                    <li class="fake_option" data-reference-option="{{ clan }}" data-reference-id="selection_clan_id"
                        data-reference-id-button="button_clan_list_id" name="clan_option"> {{ clan }}</li>
                    {% endfor %}
                </ul>
            </div>
            <span id="custom_arrow_id_clan"></span>
        </div>

        <div>
            <label for="button_sex_list_id">Sex:</label>
            <div class="dropdown_button" data-reference-id="sex_container" data-reference-id-arrow="custom_arrow_id_sex"
                id="button_sex_list_id">
                <p>Random</p>
                <input type="text" id="selection_sex_id" name="manual_sex" value="Random">
                <ul class="dropdown_content" data-reference-id-button="button_sex_list" id="sex_container">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_sex_id"
                        data-reference-id-button="button_sex_list_id" name="sex_option"> Random </li>
                    <li class="fake_option" data-reference-option="Female" data-reference-id="selection_sex_id"
                        data-reference-id-button="button_sex_list_id" name="sex_option"> Female </li>
                    <li class="fake_option" data-reference-option="Male" data-reference-id="selection_sex_id"
                        data-reference-id-button="button_sex_list_id" name="sex_option"> Male </li>
                </ul>
            </div>
            <span id="custom_arrow_id_sex"></span>

        </div>

        <div>
            <label for="button_generation_list_id">Generation:</label>
            <div class="dropdown_button " data-reference-id="generation_container_id"
                data-reference-id-arrow="custom_arrow_id_generation" id="button_generation_list_id">
                <p>Random</p>
                <input type="text" id="selection_generation_id" name="manual_generation" value="Random">
                <ul class="dropdown_content" data-reference-id-button="button_generation_list"
                    id="generation_container_id">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_generation_id"
                        data-reference-id-button="button_generation_list_id" name="generation_option"> Random </li>
                    {% for generation in generations %}
                    <li class="fake_option" data-reference-option="{{ generation }}"
                        data-reference-id="selection_generation_id" data-reference-id-button="button_generation_list_id"
                        name="generation_option"> {{ generation }} </li>
                    {% endfor %}
                </ul>
            </div>
            <span id="custom_arrow_id_generation"></span>

        </div>

        <div>
            <label for="button_age_list_id">Age:</label>
            <div class="dropdown_button " data-reference-id="age_container"
                data-reference-id-arrow="custom_arrow_id_age" id="button_age_list_id">
                <p>Random</p>
                <input type="text" id="selection_age_id" name="manual_age_selection"
                    data-input-reference="manual_age_input_id" data-input-default="1" data-input-focus="Random"
                    value="Random" data-reference-id-button="button_age_list_id">
                <ul class="dropdown_content" data-reference-id-button="button_age_list_id" id="age_container">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_age_id"
                        data-reference-id-button="button_age_list_id" name="age_option"> Random </li>
                    <li class="fake_option" data-reference-option="Manual" data-reference-id="selection_age_id"
                        data-reference-id-button="button_age_list_id" name="age_option"> Manual </li>
                </ul>
            </div>
            <span id="custom_arrow_id_age"></span>

            <input type="number" min=1 max=3000 name="manual_age" value="{{ field_values['manual_age'] }}"
                class="selection_driver" data-driver-reference="selection_age_id" id="manual_age_input_id">

        </div>

        <div>
            <label for="button_calculation_list_id">XP gain:</label>
            <div class="dropdown_button " data-reference-id="calculation_container"
                data-reference-id-arrow="custom_arrow_id_calculation" id="button_calculation_list_id">
                <p>Algorithm</p>
                <input type="text" id="selection_calculation_id" name="manual_calculation_selection"
                    data-input-reference="manual_calculation_input_id" data-input-default="1"
                    data-input-focus="Algorithm" value="Algorithm" data-reference-id-button="button_calculation_list_id">
                <ul class="dropdown_content" data-reference-id-button="button_calculation_list_id"
                    id="calculation_container">
                    <li class="fake_option" data-reference-option="Algorithm"
                        data-reference-id="selection_calculation_id"
                        data-reference-id-button="button_calculation_list_id" name="calculation_option"> Algorithm </li>
                    <li class="fake_option" data-reference-option="Manual" data-reference-id="selection_calculation_id"
                        data-reference-id-button="button_calculation_list_id" name="calculation_option"> Manual </li>
                </ul>
            </div>
            <span id="custom_arrow_id_calculation"></span>
            <input type="number" min=1 max=5000 name="manual_calculation" value="{{ field_values['manual_calculation'] }}"
                class="selection_driver" data-driver-reference="selection_calculation_id" id="manual_calculation_input_id">

        </div>

        <div>
            <label for="button_name_list_id">Name:</label>

            <div class="dropdown_button " data-reference-id="name_container"
                data-reference-id-arrow="custom_arrow_id_name" id="button_name_list_id">
                <p>Random</p>
                <input type="text" id="selection_name_id" name="manual_name_selection"
                    data-input-reference="manual_name_input_id" data-input-default="Fruzsi" data-input-focus="Random"
                    data-reference-id-button="button_name_list_id" value="Random">
                <ul class="dropdown_content" data-reference-id-button="button_name_list" id="name_container">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_name_id"
                        data-reference-id-button="button_name_list_id" name="name_option"> Random </li>
                    <li class="fake_option" data-reference-option="Manual" data-reference-id="selection_name_id"
                        data-reference-id-button="button_name_list_id" name="name_option"> Manual </li>
                </ul>
            </div>
            <span id="custom_arrow_id_name"></span>

            <input type="text" name="manual_name" value="{{ field_values['manual_name'] }}" class="selection_driver"
                data-driver-reference="selection_name_id" id="manual_name_input_id">
        </div>

        <div>
            <label for="button_theme_list_id">Theme:</label>
            <div class="dropdown_button " data-reference-id="theme_container"
                data-reference-id-arrow="custom_arrow_id_theme" id="button_theme_list_id">
                <p>Dark</p>
                <input type="text" id="selection_theme_id" data-reference-id-button="button_theme_list_id">
                <ul class="dropdown_content " data-reference-id-button="button_theme_list" id="theme_container">
                    <li class="fake_option" data-reference-option="Light" data-reference-id="selection_theme_id"
                        data-reference-id-button="button_theme_list_id" name="theme_option"> Light </li>
                    <li class="fake_option" data-reference-option="Dark" data-reference-id="selection_theme_id"
                        data-reference-id-button="button_theme_list_id" name="theme_option"> Dark </li>
                </ul>
            </div>
            <span id="custom_arrow_id_theme"></span>
        </div>

        <div>
            <label for="checkbox_skills">Use V20 level 5+ skills</label>
            <input type="checkbox" id="checkbox_skills_id">
            <span class="custom_checkbox" data-reference-id="checkbox_skills_id"></span>
        </div>
    </div>

    <div>
        <input type="button" value="LOAD DEFAULT VALUES" id="button_load_defaults">

        <input id="button_input_contianer_visibility" data-target-id="input_container_id"
            data-target-class-1="animation_close" type="button" value="HIDE/SHOW INPUTS">

        <input type="submit" value="GENERATE">
    </div>

</form>