<div class="generated_city">     
    {% for faction in generated_city %}
    <p class="faction_name">{{ faction }}</p>
    <div class="faction">
        {% for clan in generated_city[faction] %}
        {% if clan == 'faction_leaders' %}
        <div class="faction_leaders">
        {% else %}
        <div class="clan">
        {% endif %}
            {% for rank in generated_city[faction][clan] %}
            <div class="rank">
                {% for citizen in generated_city[faction][clan][rank] %}
                <div class="citizen">
                    {% include "aux_clan_logo_" + citizen.clan + ".html" %}
                    <p class="citizen_name">{{ citizen.name }}</p>

                    <p>Age:</p>
                    <p>{{ citizen.age }}</p>

                    <p>Position:</p>
                    <p class="underscore">{{ citizen.position }}</p>

                    <div class="citizen_detail_header">
                        <p>
                            Details
                        </p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="svg_button_triangle triangle_closed">
                            <path d="M87.77,9.77a1.12,1.12,0,0,1,1,.67,1.45,1.45,0,0,1,0,1.33L51,86.34a1.1,1.1,0,0,1-2,0L11.22,11.77a1.45,1.45,0,0,1,0-1.33,1.12,1.12,0,0,1,1-.67H87.77m8-9.77H4.26C1,0-1.06,4,.58,7.27L46.32,97.58a4,4,0,0,0,7.36,0L99.42,7.27C101.06,4,99,0,95.74,0Z"/>
                        </svg>
                    </div>

                    <p class="citizen_details dont_display">Faction:</p>
                    <p class="citizen_details dont_display">{{ citizen.faction }}</p>

                    <p class="citizen_details dont_display">Clan:</p>
                    <p class="citizen_details dont_display">{{ citizen.clan }}</p>

                    <p class="citizen_details dont_display">Sire:</p>
                    <p class="DOM_link citizen_details dont_display">{{ citizen.sire }}</p>

                    <p class="citizen_details dont_display">Children:</p>
                    <div class="citizen_details dont_display">
                        {% for child in citizen.children %}
                        <p class="DOM_link">{{ child }}</p>
                        {% endfor %}
                    </div>

                    <p class="citizen_details dont_display">Relations:</p>
                    <button class="citizen_details dont_display relations" value="Show relations" data-relations="{{ citizen.relations }}"></button>

                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>