<form action="/result_city" method='POST'>
    <div id="input_container_id">
        <div>
            <p>
                <span style="color: var(--color_neon_pink);">Tooltip: </span> Tooltips come here
            </p>
        </div>

        <div>
            <label for="slider_camarilla_id" style="grid-column: 1;">Camarilla:</label>
            <input id="slider_camarilla_id" data-reference-id="value_camarilla_id" data-reference-pie-id="pie_sector_camarilla_id" class="slider pie_input" type="range"
                name="slider_camarilla" min="0" max="100" value="80">
            <label for="slider_camarilla_id" id="value_camarilla_id" style="grid-column: 3;">80</label>
            <span></span>

            <label for="slider_anarch_id" style="grid-column: 1;">Anarch:</label>
            <input id="slider_anarch_id" data-reference-id="value_anarch_id" data-reference-pie-id="pie_sector_anarch_id" class="slider pie_input" type="range"
                name="slider_anarch" min="0" max="100" value="10">
            <label for="slider_anarch_id" id="value_anarch_id" style="grid-column: 3;">10</label>
            <span></span>
            
            <label for="slider_sabbath_id" style="grid-column: 1;">Sabbath:</label>
            <input id="slider_sabbath_id" data-reference-id="value_sabbath_id" data-reference-pie-id="pie_sector_sabbath_id" class="slider pie_input" type="range"
                name="slider_sabbath" min="0" max="100" value="5">
            <label for="slider_sabbath_id" id="value_sabbath_id" style="grid-column: 3;">5</label>
            <span></span>
            
            <label for="slider_independent_id" style="grid-column: 1;">Independent:</label>
            <input id="slider_independent_id" data-reference-id="value_independent_id" data-reference-pie-id="pie_sector_independent_id" class="slider pie_input" type="range"
                name="slider_independent" min="0" max="100" value="1">
            <label for="slider_independent_id" id="value_independent_id" style="grid-column: 3;">1</label>
            <span></span>
            
            <svg class="svg_pie_chart" viewBox="0 0 100 100">
                <circle class="circle_pie_sector" id="pie_sector_camarilla_id" cx="50%" cy="50%" r="40%"></circle>
                <circle class="circle_pie_sector" id="pie_sector_anarch_id" cx="50%" cy="50%" r="40%"></circle>
                <circle class="circle_pie_sector" id="pie_sector_sabbath_id" cx="50%" cy="50%" r="40%"></circle>
                <circle class="circle_pie_sector" id="pie_sector_independent_id" cx="50%" cy="50%" r="40%"></circle>
            </svg>
        </div>

        <div>
            <label for="slider_average_age_id">Average age:</label>
            <input id="slider_average_age_id" data-reference-id="value_average_age_id" class="slider" type="range"
                name="slider_average_age" min="30" max="1000" value="300">

            <label for="slider_average_age_id" id="value_average_age_id">300</label>
        </div>

        <div>
            <label for="slider_age_deviation_id">Age deviation:</label>
            <input id="slider_age_deviation_id" data-reference-id="value_age_deviation_id" class="slider" type="range"
                name="slider_age_deviation" min="0" max="500" value="120">

            <label for="slider_age_deviation_id" id="value_age_deviation_id">120</label>
        </div>

        <div>
            <label for="slider_sireing_age_gap_id">Sireing Agegap:</label>
            <input id="slider_sireing_age_gap_id" data-reference-id="value_sireing_age_gap_id" class="slider" type="range"
                name="slider_sireing_age_gap" min="0" max="1000" value="30">

            <label for="slider_sireing_age_gap_id" id="value_sireing_age_gap_id">30</label>
        </div>

        <div>
            <label for="slider_male_to_female_id">Male to female:</label>
            <input id="slider_male_to_female_id" data-reference-id="value_male_to_female_id" class="slider" type="range"
                name="slider_male_to_female" min="0" max="100" value="50">

            <label for="slider_male_to_female_id" id="value_male_to_female_id">50</label>
        </div>

        <div>
            <label for="slider_n_vampires_id">Number of vampires:</label>
            <input id="slider_n_vampires_id" data-reference-id="value_n_vampires_id" class="slider" type="range"
                name="slider_n_vampires" min="2" max="100" value="10">

            <label for="slider_n_vampires_id" id="value_n_vampires_id">10</label>
        </div>

    </div>
    
    </div>

    <div>
        <input type="button" value="LOAD DEFAULT VALUES" id="button_load_defaults">

        <input id="button_input_contianer_visibility" data-target-id="input_container_id"
            data-target-class-1="animation_close" type="button" value="HIDE/SHOW INPUTS">

        <input type="submit" value="GENERATE">
    </div>

</form>