<form action="/result_city" method='POST'>
    <div id="input_container_id">
        <div>
            <label for="button_number_of_vampires_id">Number of Vampires:</label>
            <div class="dropdown_button " data-reference-id="age_container"
                data-reference-id-arrow="custom_arrow_id_age" id="button_number_of_vampires_id">
                <p>Random</p>
                <input type="text" id="selection_number_of_vampires_id" name="manual_number_of_vampires_selection"
                    data-input-reference="manual_number_of_vampires_input_id" data-input-default="1" data-input-focus="Random"
                    value="Random" data-reference-id-button="button_number_of_vampires_id">
                <ul class="dropdown_content" data-reference-id-button="button_number_of_vampires_id" id="age_container">
                    <li class="fake_option" data-reference-option="Random" data-reference-id="selection_number_of_vampires_id"
                        data-reference-id-button="button_number_of_vampires_id" name="number_of_vampires_option"> Random </li>
                    <li class="fake_option" data-reference-option="Manual" data-reference-id="selection_number_of_vampires_id"
                        data-reference-id-button="button_number_of_vampires_id" name="number_of_vampires_option"> Manual </li>
                </ul>
            </div>
            <span id="custom_arrow_id_age"></span>

            <input type="number" min=1 max=40 name="manual_number_of_vampires" value="{{ field_values['manual_number_of_vampires'] }}"
                class="selection_driver" data-driver-reference="selection_number_of_vampires_id" id="manual_number_of_vampires_input_id">
        </div>

        <div>
            <label for="slider_mental_id">Mental focus:</label>
            <input id="slider_mental_id" data-reference-id="value_mental_id" class="slider" type="range"
                name="simplified_mental" min="0" max="100" value="50">
            <label for="slider_mental_id" id="value_mental_id">50</label>
        </div>
    
    </div>

    <div>
        <input type="button" value="LOAD DEFAULT VALUES" id="button_load_defaults">

        <input id="button_input_contianer_visibility" data-target-id="input_container_id"
            data-target-class-1="animation_close" type="button" value="HIDE/SHOW INPUTS">

        <input type="submit" value="GENERATE">
    </div>

</form>