

<!-- <div class="parallax-container">
    <div class="background">
      <img class="background__image" src="https://path/to/image.jpg" />
    </div>
    <div class="foreground">
      <div class="foreground__content">
        <h1>Oooo, parallax</h1>
      </div>
    </div>
  </div> -->



<!-- <div class="wrapper">
    <div class="parallax-container">
        <div class="background">
            <img src="{{ url_for('static', filename='svg/city_level_1.svg') }}" alt="" class="svg_city_level_1">

        </div>
        <div class="midground">
            <img src="{{ url_for('static', filename='svg/city_level_2.svg') }}" alt="" class="svg_city_level_2">
        </div>

        <div class="foreground">
            <div class="foreground__content">
                <h1>Oooo, parallax</h1>
            </div>
        </div>
    </div>
  </div> -->




    <!-- <div class="div_background"></div> -->

    <!-- <img src="{{ url_for('static', filename='svg/city_level_2.svg') }}" alt="" class="svg_city_level_2">
    <img src="{{ url_for('static', filename='svg/city_level_3_1.svg') }}" alt="" class="svg_city_level_3_1">
    <img src="{{ url_for('static', filename='svg/city_level_3_2.svg') }}" alt="" class="svg_city_level_3_2">
    <img src="{{ url_for('static', filename='svg/city_level_3_3.svg') }}" alt="" class="svg_city_level_3_3">
    <img src="{{ url_for('static', filename='svg/city_level_3_4.svg') }}" alt="" class="svg_city_level_3_4">
    <img src="{{ url_for('static', filename='svg/city_level_3_5.svg') }}" alt="" class="svg_city_level_3_5"> -->
