<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/default_style.css') }}>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="contact.asp">News</a></li>
        </ul>
    </head>
    <body>
        <table class="center">
            {% block inputs %}
            {% endblock %}
            {% block generated_characters %}
            {% endblock %}
        </table>
    </body>
</html>