<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/default_style.css') }}>
    </head>

    <body>
        <header>
            {% include "navigation.html" %}
        </header>
        
        <table class="table_main">
            <div>
                <tr>
                    <th colspan="3">
                        Character Generation Process
                    </th>
                </tr>
                <tr>
                    <td> Calculate basic information (age, name, clan, max skill level according to generation, etc..) </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> Set all atributes to 1 </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> Set all skills to 1 </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> Set all disciplines to 0 </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> Spend XP until it runs out </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> Cleanup character sheet </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
            </div>
            <div>
                <tr style="height: 50px;"></tr>
                <tr>
                    <th colspan="3">
                        XP Calculation
                    </th>
                </tr>
                <tr>
                    <td> the current formula is: </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
                <tr>
                    <td> xp = max(300 (a startup minimum value), generation based max xp times age/max age normalized between 0,2 to 1) </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_filled"></span> </td>
                </tr>
            </div>
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</html>