<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/general.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/navigation.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/collection.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/character.css') }}>
    </head>

    <body>

        {% include "navigation.html" %}

        <div class="collection_container">
            <form action = "/collection_chosen" method='POST'>
                <div class="div_select">
                    <select name="generated_characters" id="collection_selector">
                        {% for character in characters %}
                           <option value="{{ character }}"> {{ character }} </option> 
                        {% endfor %}
                    </select>
                    <span class="custom_arrow"></span>

                    <input 
                        class="button_general"
                        type="submit"
                        value="Show!">   
                </div>
            </form>

            <div>
                {% if have_generated_character %}
                    {% include "generated_character.html" %}
                {% endif %} 
            </div>
        </div>
  


            {% include "footer.html" %}

    </body>

    <script src={{ url_for('static', filename='js_scripts/general.js') }}></script>
    <script src={{ url_for('static', filename='js_scripts/character.js') }}></script>

</html>