<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/general.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/footer.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/background.css') }}>
    </head>

    <body>
        <header>
            {% include "navigation.html" %}
        </header>

        {% include "background.html" %}
        
        <table class="table_main">
            <div>
                <tr>
                    <th>
                        Feedback
                    </th>
                </tr>
                <tr>
                    <td> Please write to the delveoper personally for feedback or use the google document via the link below </td>
                </tr>
                <tr>
                    <td><a href="https://docs.google.com/document/d/1BovSp-HGQ601Y-FlbgzBdSIfBh-kMw39vkcHKJgeVTQ/edit?usp=sharing"> click here to the google doc</a></td>
                </tr>
    </body>
    <footer>
        {% include "footer.html" %}
    </footer>
</html>