<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/default_style.css') }}>
        {% include "navigation.html" %}
    </head>
    <body>
        <table class="center">
            <div>
                <tr style="height: 50px;"></tr>
                <tr>
                    <th colspan="3">
                        Development Plan
                    </th>
                </tr>
                <tr>
                    <td> working download generated character button </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> selectable download formats pdf / csv </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> inclusion of blood sorcery rituals and oblivion ceremoines in xp spending </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> dependency check for skills </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> edition switch (v20 / v5) </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> documentation on xp calculation </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> credits / legal page (but already hudge heart emoji to Fru:) and the Cordoba by night community) </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> paypal/patrion button </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
            </div>
            <div>
                <tr>
                    <th colspan="3">
                        Known Bugs
                    </th>
                </tr>
                <tr>
                    <td> sometimes the "load default values button" dies (mainly once one character has already been generated) </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> character encoding issues </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>
                <tr>
                    <td> weird brackets around Malkavian derangements </td>
                    <td style="width: 100px;"> </td>
                    <td> <span class="dot_unfilled"></span> </td>
                </tr>                           
            </div>
        </table>
    </body>
</html>