<!doctype html>
<tr style="height: 30px;">
</tr>
<tr style="height: 100px;">
    <td> Health </td>
    <td>
    <table class="tracker_container">
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
        <td class="tracker" style="background-color: var(--grey);"></td>
    </table>
    </td>
</tr>