<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <link type="text/css" media="all" rel="stylesheet" href={{ url_for('static', filename='stylesheets/default_style.css') }}>
        {% include "navigation.html" %}
    </head>
    <body>
        <table class="center">
            <tr style="height: 50px;">
            </tr>
            <tr>
                <td>
                    encounter tracker
                </td>
            </tr>
        </table>
    </body>
    <script src={{ url_for('static', filename='website_functions.js') }}></script>
</html>