<div class="div_encounter_card">

    <input type="text" class="input_encounter_name" value="My powerful Enemy" name="encounter_name">

    <p class="health_label">Health</p>
    <input type="number" name="health_meter" min="1" max="20" value="8">
    <div class="tracker_container" name="health_container">
        <div class="tracker">
        </div>
    </div>

    <p class="willpower_label">Willpower</p>
    <input type="number" name="willpower_meter" min="1" max="20" value="9">
    <div class="tracker_container" name="willpower_container">
        <div class="tracker">
        </div>
    </div>

    <div class="button_encounter" name="remove_encounter">
        <p name="remove_encounter">+</p>
    </div>

</div>