<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <head>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/encounter.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">

        {% include "head_meta.html" %}

    </head>
    <body>

        {% include "navigation.html" %}

        <div class="div_encounter_container">
            {% for i in range(0, 2) %}
                {% include "encounter_card.html" %}
            {% endfor %}
        </div>

        <input id="add_encounter_id" name="add_encounter" type="button" value="Add Encounter!">
                
        {% include "footer.html" %}

    </body>

    <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/encounters.js') }}"></script>
</html>