<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <head>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/encounter.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">

        {% include "head_meta.html" %}

    </head>
    <body>

        <div class="app">
            <div class="content_header">
                {% include "navigation.html" %}
            </div>

            <div class="content_main">
                <div class="div_encounter_container">
                    {% for i in range(0, 2) %}
                        {% include "encounter_card.html" %}
                    {% endfor %}
                </div>
        
                <div class="neon" id="add_encounter" name="add_encounter">
                    <p name="add_encounter">Add Encounter!</p>
                </div>

            </div>

            <div class="content_footer">
                
                {% include "footer.html" %}

            </div>

        </div>

    </body>

    <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/encounters.js') }}"></script>
</html>