<!doctype html>
<tr>
    <th> Encounter {{ encounter['encounter_number'] }} </th>
</tr>
<tr>
    <td> Health </td>
    <td>
        <div class="tracker_container">
            {% for i in range(0, encounter['health_current']) %}
                <span class="tracker_filled"></span>
             {% endfor %}
            {% for i in range(0, encounter['health_max'] - encounter['health_current']) %}
                <span class="tracker_unfilled"></span>
            {% endfor %}
        </div>
    </td>
</tr>