<form action = "/result" method='POST'>
    <div class="div_inputs_all">
        <div class="input_container animation_ease" id="input_container_id">
            <div class="div_input_dropdown ">
                <div class="div_input_text_container">
                    <p>Clan:</p>
                </div>
                <div class="div_select">
                    <select 
                        class="dropdown_selectors" 
                        list="clans" 
                        name="manual_clan" 
                        id="selection_clan">

                        <option value='Random' {% if field_conditions['manual_clan_condition']==False %} selected="selected" {% endif %}> Random </option>
                        {% for clan in clans %} 
                            <option 
                                value="{{ clan }}"
                                {% if field_conditions['manual_clan_condition']==True and field_values['manual_clan'] == clan %} selected="selected" {% endif %}> 
                                {{ clan }} 
                            </option>
                        {% endfor %}

                    </select>
                    <div class="dropdown_button " data-reference-id="clan_container" data-reference-id-arrow="custom_arrow_id_clan" id="button_clan_list">
                        <p>
                            somethig
                        </p>    
                    </div>
                    <ul class="dropdown_content " data-reference-id-button="button_clan_list" id="clan_container">
                        {% for clan in clans %}
                            <li class="fake_option " data-reference-option="{{ clan }}" data-reference-id="selection_clan" data-reference-id-button="button_clan_list" name="clan_option"> {{ clan }}</li>
                        {% endfor %}
                    </ul>
                    <span class="custom_arrow" id="custom_arrow_id_clan"></span>
                </div>
            </div>

            <div class="div_input_slider">
                <div class="div_input_text_container">
                    <p>Disc. Affinity</p>
                </div>
                <div class="div_slider">
                    <input
                        id="slider_discipline"
                        class="slider"
                        type="range"
                        name="simplified_discipline" 
                        min="0" 
                        max="100"
                        value="50">
                </div>
    
            </div>
    
            <div class="div_input_dropdown">
                <div class="div_input_text_container">
                    <p>Sex:</p>
                </div>
                <div class="div_select">
                    <select
                        class="dropdown_selectors"
                        list="sexes" 
                        name="manual_sex" 
                        id="selection_sex">

                        <option value="Random" {% if field_conditions['manual_sex_condition']==False %} selected="selected" {% endif %}> Random </option>
                        <option value="Female" {% if field_conditions['manual_sex_condition']==True and field_values['manual_sex']=='Female' %} selected="selected" {% endif %}> Female </option>
                        <option value="Male" {% if field_conditions['manual_sex_condition']==True and field_values['manual_sex']=='Male' %} selected="selected" {% endif %}> Male </option>
                    </select>
                    <div class="dropdown_button " data-reference-id="sex_container" data-reference-id-arrow="custom_arrow_id_sex" id="button_sex_list">
                        <p>
                            something
                        </p>
                    </div>
                    <ul class="dropdown_content " data-reference-id-button="button_sex_list" id="sex_container">
                        <li class="fake_option " data-reference-option="Random" data-reference-id="selection_sex" data-reference-id-button="button_sex_list" name="sex_option"> Random </li>
                        <li class="fake_option " data-reference-option="Female" data-reference-id="selection_sex" data-reference-id-button="button_sex_list" name="sex_option"> Female </li>
                        <li class="fake_option " data-reference-option="Male" data-reference-id="selection_sex" data-reference-id-button="button_sex_list" name="sex_option"> Male </li>
                    </ul>
                    <span class="custom_arrow" id="custom_arrow_id_sex"></span>
                </div>
            </div>

            <div class="div_input_slider ">
                <div class="div_input_text_container">
                    <p>Physical</p>
                </div>
                <div class="div_slider">
                    <input
                        id="slider_physical"
                        class="slider"
                        type="range"
                        name="simplified_physical"
                        min="0" 
                        max="100"
                        value="50">
                </div>
            </div>
    
            <div class="div_input_dropdown">
                <div class="div_input_text_container">
                    <p>Generation:</p>
                </div>
                <div class="div_select">
                    <select 
                        class="dropdown_selectors"
                        list="gens"
                        name="manual_generation" 
                        id="selection_generation">

                        <option value='Random' {% if field_conditions['manual_generation_condition']==False %} selected="selected" {% endif %}> Random </option>
                        {% for generation in generations %}
                            <option value="{{ generation }}" {% if field_conditions['manual_generation_condition']==True and field_values['manual_generation']==3 %} selected="selected" {% endif %}> {{ generation }} </option>
                        {% endfor %}
                    </select>

                    <div class="dropdown_button " data-reference-id="generation_container"  data-reference-id-arrow="custom_arrow_id_generation"  id="button_generation_list"> 
                        <p>
                            something
                        </p>
                    </div>
                    <ul class="dropdown_content " data-reference-id-button="button_generation_list" id="generation_container">
                        <li class="fake_option " data-reference-option="Random" data-reference-id="selection_generation" data-reference-id-button="button_generation_list" name="generation_option"> Random </li>
                        {% for generation in generations %}
                        <li class="fake_option " data-reference-option="{{ generation }}" data-reference-id="selection_generation" data-reference-id-button="button_generation_list" name="generation_option"> {{ generation }} </li>
                        {% endfor %}
                    </ul>
                    <span class="custom_arrow" id="custom_arrow_id_generation"></span>
                </div>
            </div>
    
            <div class="div_input_slider">
                <div class="div_input_text_container">
                    <p>Mental</p>
                </div>
                <div class="div_slider">
                    <input
                        id="slider_mental"
                        class="slider"
                        type="range"
                        name="simplified_mental" 
                        min="0" 
                        max="100"
                        value="50">
                </div>
    
            </div>
    
            <div class="div_input_type_in">
                <div class="div_input_text_container">
                    <p>Age:</p>
                </div>
                <div class="div_select">
                    <select 
                        class="dropdown_selectors" 
                        list="ages" 
                        name="manual_age_selection" 
                        id="selection_age"
                        data-input-reference="manual_age_input_id"
                        data-input-default="300"
                        data-input-focus="Random">
                        
                        <option value="Random" {% if field_conditions['manual_age_condition']==False %} selected="selected" {% endif %}> Random </option>
                        <option value="Manual" {% if field_conditions['manual_age_condition']==True %} selected="selected" {% endif %}> Manual </option>
                    </select>

                    <div class="dropdown_button " data-reference-id="age_container"  data-reference-id-arrow="custom_arrow_id_age" id="button_age_list">
                        <p>
                            something
                        </p>
                    </div>
                    <ul class="dropdown_content " data-reference-id-button="button_age_list" id="age_container">
                        <li class="fake_option " data-reference-option="Random" data-reference-id="selection_age" data-reference-id-button="button_age_list" name="age_option"> Random </li>
                        <li class="fake_option " data-reference-option="Manual" data-reference-id="selection_age" data-reference-id-button="button_age_list" name="age_option"> Manual </li>
                    </ul>
                    <span class="custom_arrow" id="custom_arrow_id_age"></span>
                </div>
                <div class="div_type_in">
                    <input 
                        type="number" 
                        min=1 
                        max=3000 
                        name="manual_age" 
                        value={{ field_values['manual_age'] }} 
                        class="selection_driver" 
                        data-driver-reference="selection_age"
                        id="manual_age_input_id">
                </div>            
            </div>
    
            <div class="div_input_slider">
                <div class="div_input_text_container">
                    <p>Social</p>
                </div>
                <div class="div_slider">
                    <input
                        id="slider_social"
                        class="slider"
                        type="range"
                        name="simplified_social"
                        min="0" 
                        max="100"
                        value="50"
                    >                
                </div>
            </div>
    
            <div class="div_input_type_in">
                <div class="div_input_text_container">
                    <p>Name:</p>
                </div>
                <div class="div_select">
                    <select 
                        class="dropdown_selectors"
                        list="names" 
                        name="manual_name_selection" 
                        id="selection_name"
                        data-input-reference="manual_name_input_id"
                        data-input-default="Fruzsi"
                        data-input-focus="Random">
                        
                        <option value="Random" {% if field_conditions['manual_name_condition']==False %} selected="selected" {% endif %}> Random </option>
                        <option value="Manual" {% if field_conditions['manual_name_condition']==True %} selected="selected" {% endif %}> Manual </option>
                    </select>
                    <div class="dropdown_button " data-reference-id="name_container" data-reference-id-arrow="custom_arrow_id_name" id="button_name_list"> 
                       <p>
                           something
                       </p>
                    </div>
                    <ul class="dropdown_content " data-reference-id-button="button_name_list" id="name_container">
                        <li class="fake_option " data-reference-option="Random" data-reference-id="selection_name" data-reference-id-button="button_name_list" name="name_option"> Random </li>
                        <li class="fake_option " data-reference-option="Manual" data-reference-id="selection_name" data-reference-id-button="button_name_list" name="name_option"> Manual </li>
                    </ul>
                    <span class="custom_arrow" id="custom_arrow_id_name"></span>
                </div>
                <div class="div_select">
                    <input 
                        type="text" 
                        name="manual_name" 
                        value={{ field_values['manual_name'] }}  
                        class="selection_driver" 
                        data-driver-reference="selection_name"
                        id="manual_name_input_id"> 
                </div>
            </div>

            <div class="div_button_load_defaults">
                <input
                    class="button_general"
                    type="button"
                    value="Load default values!"
                    id="button_load_defaults">
            </div>
        </div>

        <div class="div_input_button_container">
            <div class="div_input_buttons">
                <input
                    class="button_general"
                    id="button_input_contianer_visibility"
                    data-target-id="input_container_id"
                    data-target-class-1="animation_close"
                    type="button"
                    value="Hide/Show inputs">
            </div>
    
            <div class="div_input_buttons">
                <input
                    class="button_general"
                    type="submit"
                    value="Generate!">   
            </div>
        </div>
    </div>
</form>