<!doctype html>
<table class="table_character">
<tbody class="generated_character">
    <tr>
        <th colspan="6"> Basic Information </th>
    </tr>
    <tr>
        <td> Name </td>
        <td> {{ details['Basic_Information']['Name'] }} </td>
        <td> Sire </td>
        <td> {{ details['Basic_Information']['Sire'] }} </td>
        <td> Sex </td>
        <td>{{ details['Basic_Information']['Sex'] }} </td>
    </tr>
    <tr>
        <td> Clan </td>
        <td> {{ details['Basic_Information']['Clan'] }} </td>
        <td> Generation </td>
        <td> {{ details['Basic_Information']['Generation'] }} </td>
        <td> Age </td>
        <td>{{ details['Basic_Information']['Age'] }} </td>
    </tr>
    <tr>
        <td> Health </td>
        <td>
            <table style="max-width: 100px;">
                {% for i in range(0, details['Trackers']['Health']) %}
                    <td><span class="dot_filled"> </span></td>
                {% endfor %}
                {% for i in range(0, 10 - details['Trackers']['Health']) %}
                    <td><span class="dot_unfilled"></span> </td>
                {% endfor %}
            </table>
        </td>
        <td> Willpower </td>
        <td>
            <table>
                {% for i in range(0, details['Trackers']['Willpower']) %}
                    <td> <span class="dot_filled"></span> </td>    
                {% endfor %}
                {% for i in range(0, 10 - details['Trackers']['Willpower']) %}
                    <td> <span class="dot_unfilled"></span> </td>    
                {% endfor %}
            </table>
        </td>
        <td> Blood Potency </td>
        <td>
            <table>
                {% for i in range(0, details['Trackers']['Blood_Potency']) %}
                    <td> <span class="dot_filled"></span> </td>    
                {% endfor %}
                {% for i in range(0, 10 - details['Trackers']['Blood_Potency']) %}
                    <td> <span class="dot_unfilled"></span> </td>    
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td> Derangement </td>
        <td colspan="5"> {{ details['Basic_Information']['Derangement'] }}</td>
    </tr>
    <tr>
        <th colspan="2"> Physical Attributes </th>
        <th colspan="2"> Social Attributes </th>
        <th colspan="2"> Mental Attributes </th>
    </tr>
    {% for row in attributes %}
        <tr>
            <td> {{ row['col1'] }} </td>
            <td>
                <table>
                    {% for i in range(0, row['col2']) %}
                        <td> <span class="dot_filled"></span> </td>    
                    {% endfor %}
                    {% for i in range(0, max_level - row['col2']) %}
                        <td> <span class="dot_unfilled"></span> </td>    
                    {% endfor %}
                </table>
            </td>
            <td> {{ row['col3'] }} </td>
            <td>                         
                <table>
                {% for i in range(0, row['col4']) %}
                    <td> <span class="dot_filled"></span> </td>    
                {% endfor %}
                {% for i in range(0, max_level - row['col4']) %}
                    <td> <span class="dot_unfilled"></span> </td>    
                {% endfor %}
            </table>
        </td></td>
            <td> {{ row['col5'] }} </td>
            <td>
                <table>
                    {% for i in range(0, row['col6']) %}
                        <td> <span class="dot_filled"></span> </td>    
                    {% endfor %}
                    {% for i in range(0, max_level - row['col6']) %}
                        <td> <span class="dot_unfilled"></span> </td>    
                    {% endfor %}
                </table>
            </td>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="2"> Physical Skills </th>
        <th colspan="2"> Social Skills </th>
        <th colspan="2"> Mental Skills </th>
    </tr>
    {% for row in skills %}
        <tr>
            <td> {{ row['col1'] }} </td>
            <td>
                <table>
                    {% for i in range(0, row['col2']) %}
                        <td> <span class="dot_filled"></span> </td>    
                    {% endfor %}
                    {% for i in range(0, max_level - row['col2']) %}
                        <td> <span class="dot_unfilled"></span> </td>    
                    {% endfor %}
                </table>
            </td>
            <td> {{ row['col3'] }} </td>
            <td>                         
                <table>
                    {% for i in range(0, row['col4']) %}
                        <td> <span class="dot_filled"></span> </td>    
                    {% endfor %}
                    {% for i in range(0, max_level - row['col4']) %}
                        <td> <span class="dot_unfilled"></span> </td>    
                    {% endfor %}
            </table>
        </td></td>
            <td> {{ row['col5'] }} </td>
            <td>
                <table>
                    {% for i in range(0, row['col6']) %}
                        <td> <span class="dot_filled"></span> </td>    
                    {% endfor %}
                    {% for i in range(0, max_level - row['col6']) %}
                        <td> <span class="dot_unfilled"></span> </td>    
                    {% endfor %}
                </table>
            </td>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="3"> Clan Disciplines </th>
        <th colspan="3"> Non Clan Disciplines </th>
    </tr>
    {% for row in disciplines %}
        <tr>
            <th class="discipline_name"> {{ '' if row['col1'] == '' else row['col1'] }} </th>
            <td>
                {% if row['col1'] != '' %}
                    {% for i in range(0, row['col2']['Level']) %}
                        <span class="dot_filled"></span>
                    {% endfor %}
                    {% for i in range(0, max_level - row['col2']['Level']) %}
                        <span class="dot_unfilled"></span>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if row['col1'] != '' %}
                    <button
                        class="button_discipline_skills"
                        data-toggle-reference={{ row['col2']['discipline_number'] }}> 
                        Hide/Show Skills 
                    </button>
                {% endif %}
            </td>
            <th class="discipline_name"> {{ '' if row['col3'] == '' else row['col3'] }} </th>
            <td>
                {% if row['col3'] != '' %}
                    {% for i in range(0, row['col4']['Level']) %}
                        <span class="dot_filled"></span>
                    {% endfor %}
                    {% for i in range(0, max_level - row['col4']['Level']) %}
                        <span class="dot_unfilled"></span>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if row['col3'] != '' %}
                    <button
                        class="button_discipline_skills"
                        data-toggle-reference={{ row['col4']['discipline_number'] }}>
                        Hide/Show Skills
                    </button>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                {% if row['col1'] != '' %}
                    <table class="discipline_skills" id={{ '' if row['col1'] == '' else row['col1'] }} style="visibility: collapse;">
                        {% for skill in row['col2']['Skills'] %}
                        <tr>
                            <td> {{ '' if row['col1'] == '' else skill }} </td>
                            <td> {{ '' if row['col1'] == '' else row['col2']['Skills'][skill] }} </td>
                        </tr>
                        {% endfor %}  
                    </table>
                {% endif %}
            </td>
            <td colspan="3">
                {% if row['col3'] != '' %}
                    <table class="discipline_skills" id={{ '' if row['col3'] == '' else row['col3'] }} style="visibility: collapse;"> 
                        {% for skill in row['col4']['Skills'] %}
                            <tr>
                                <td> {{ '' if row['col3'] == '' else skill }} </td>
                                <td> {{ '' if row['col3'] == '' else row['col4']['Skills'][skill] }} </td>
                            </tr>
                        {% endfor %}   
                    </table>
                {%  endif %}
            </td>                            
        </tr>            
    {% endfor %}
        <tr>
            <td
                colspan="6"
                class="button_general"
                name="print_vampire"
                style="visibility: visible;">
                <p>Download</p>
                <p>(enable background graphics in print setup)</p>
            </dh>
        </tr>
</tbody>
</table>