<!doctype html>
<html lang="en">
    <meta charset="UTF-8">

    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/general.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/navigation.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/inputs.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/character.css') }}>
    </head>

    <body>
        <div class="div_background">
            <img src={{ url_for('static', filename='svg/city.svg') }} alt="city" class="svg_city" id="svg_city_1">
            <!-- <svg data={{ url_for('static', filename='svg/city_level_1_copy.svg') }} class="my_something"></svg> -->
        </div>
       
        {% include "navigation.html" %}

        {% include "generator_inputs.html" %}

        {% if have_generated_character %}
            {% include "generated_character.html" %}
        {% endif %}

        {% include "footer.html" %}

    </body>

    <script src={{ url_for('static', filename='js_scripts/general.js') }}></script>
    <script src={{ url_for('static', filename='js_scripts/generator.js') }}></script>
    <script src={{ url_for('static', filename='js_scripts/character.js') }}></script>
</html>