<!doctype html>
<html lang="en">
    <meta charset="UTF-8">

    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/inputs.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/custom_select.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/character_base.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/character_color_standard.css') }}" id="link_character_color">
    </head>

    <body>
       
        {% include "navigation.html" %}

        {% include "generator_inputs.html" %}

        {% if have_generated_character %}
            {% include "generated_character.html" %}
            <div class="div_output_buttons" id="div_download_vampire">
                <input
                    class="button_general neon"
                    id="button_download_vampire"
                    type="button"
                    value="Download character">
            </div>
        {% endif %}

        {% include "footer.html" %}

        <!-- Own scripts -->
        <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/inputs.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/character.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/custom_select.js') }}"></script>

    </body>
</html>