<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/default_style.css') }}>
        {% include "navigation.html" %}
    </head>
    <body>
        <table class="table_home" method="POST">
            {% include "generator_inputs.html" %}
            {% if have_generated_character %}
                {% include "generated_character.html" %}
            {% endif %}
        </table>
    </body>
    <script src={{ url_for('static', filename='website_functions.js') }}></script>
</html>