<!doctype html>
<html lang="en">
    <meta charset="UTF-8">
    <head>

        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/encounter.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">

        {% include "aux_head_meta.html" %}

    </head>
    <body>

        {% include "aux_navigation.html" %}
               
        <main>

            {% include "aux_background.html" %}

            <div class="div_encounter_container">
                {% for i in range(0, 2) %}
                    {% include "aux_encounter_card.html" %}
                {% endfor %}
            </div>
    
            <input id="add_encounter_id" name="add_encounter" type="button" value="Add Encounter!">

            <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 648.82 750.2" class="svg_dice"  style="visibility: hidden;">
                <polygon points="602.33 187.06 648.29 561.57 324.41 749.63 0.54 561.57 46.5 187.06 322.56 0.6 602.33 187.06" style="fill:none; stroke-miterlimit:10"/>
            </svg>
        </main>

                
        {% include "aux_footer.html" %}

    </body>

    <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
    <script src="{{ url_for('static', filename='js_scripts/encounters.js') }}"></script>
</html>