<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/inputs.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/custom_select.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/generated_character_base.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/generated_character_color_dark.css') }}" id="link_character_color">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pie_chart_visualization.css') }}">

        {% include "aux_head_meta.html" %}
    </head>

    <body>
        
        {% include "aux_navigation.html" %}

        <main>

            {% include "aux_background.html" %}

            {% include "aux_character_generator_inputs.html" %}

            {% if have_generated_character %}

                {% include "aux_generated_character.html" %}

            {% endif %}

        </main>

        {% include "aux_footer.html" %}


        <!-- Own scripts -->
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/generator_character_inputs.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/custom_select.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/custom_checkbox.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/pie_chart_visualization.js') }}"></script>

        {% if have_generated_character %}

            <!-- Foreign scripts -->
            <script src="{{ url_for('static', filename='js_scripts/external/jspdf/jspdf.debug.js') }}"></script>
            <script src="{{ url_for('static', filename='js_scripts/external/jspdf/addhtml.js') }}"></script>
            <script src="{{ url_for('static', filename='js_scripts/external/html2canvas/html2canvas.js') }}"></script>

            <!-- Own scripts -->
            <script>
                var discipline_dict = JSON.parse('{{ discipline_dict | tojson | safe}}')
                var clan_discipline_dict = JSON.parse('{{ discipline_dict | tojson | safe}}')
            </script>          
            <script type="text/javascript" src="{{ url_for('static', filename='js_scripts/generated_character.js') }}"></script>

        {% endif %}

    </body>
</html>