<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/general.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/navigation.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/inputs.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/custom_select.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/character_base.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/character_color_dark.css') }}" id="link_character_color">
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/footer.css') }}">

        {% include "head_meta.html" %}
    </head>

    <body>

        {% include "navigation.html" %}

        <main>

            {% include "background.html" %}

            {% include "generator_inputs.html" %}

            {% if have_generated_character %}

                {% include "generated_character.html" %}

            {% endif %}

        </main>

        {% include "footer.html" %}


        <!-- Own scripts -->
        <script src="{{ url_for('static', filename='js_scripts/general.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/navigation.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/inputs.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/custom_select.js') }}"></script>
        <script src="{{ url_for('static', filename='js_scripts/custom_checkbox.js') }}"></script>

        {% if have_generated_character %}

            <!-- Foreign scripts -->
            <script src="{{ url_for('static', filename='js_scripts/external/jspdf/jspdf.debug.js') }}"></script>
            <script src="{{ url_for('static', filename='js_scripts/external/jspdf/addhtml.js') }}"></script>
            <script src="{{ url_for('static', filename='js_scripts/external/html2canvas/html2canvas.js') }}"></script>

            <!-- Own scripts -->
            <script src="{{ url_for('static', filename='js_scripts/character.js') }}"></script>

        {% endif %}

    </body>
</html>