<header>
    <div class="title_container">
        <div>
            <h1> AutoFeed</h1>
            <p> VTM Toolkit for storytellers </p>
        </div>
    
        <nav class="div_navigation_container">
            <ul>
                <li><a href="/"> Generator </a></li>
                <li><a href="/contact"> Contact / Feedback </a></li>
                <li><a href="/development_road"> Development Road </a></li>
                <li><a href="/calculation_maths"> Calculation Maths </a></li>
                <li><a href="/encounter_tracker"> Encounter Tracker </a></li>
                <li><a href="/collection_start"> Collection </a></li>
            </ul>
        </nav>
    
    </div>
</header>