<!doctype html>
<html lang="en">
    <head>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/general.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/navigation.css') }}>
        <link type="text/css" rel="stylesheet" href={{ url_for('static', filename='stylesheets/custom_select_bence.css') }}>
    </head>

    <body>

        {% include "navigation.html" %}
        
        <div style="margin-top: 200px;">
            <p>
                Testing
            </p>
        </div>

        <div>
            <select class="dropdown_select" id="spanish_list" style="display: none;">
                <option value="">Seleciona una Opcion </option>
                <option value="1">Select option 1</option>
                <option value="2" >Select option 2</option>
                <option value="3">Select option 3</option>
            </select>
            <div class="dropdown">
                <button class="custom_dropdown_button" data-reference-id="spanish_dropdown_container" id="custom_dropdown_button_spanish_list_1">Dropdown</button>
                <div class="dropdown-content" id="spanish_dropdown_container">
                  <a href="#" class="fake_option" data-reference-option="1" data-reference-id="spanish_list" data-reference-id-button="custom_dropdown_button_spanish_list_1" name="spanish_options">Link 1</a>
                  <a href="#" class="fake_option" data-reference-option="2" data-reference-id="spanish_list" data-reference-id-button="custom_dropdown_button_spanish_list_1" name="spanish_options">Link 2</a>
                </div>
            </div>
        </div>

        <div>
            <select class="dropdown_select" id="spanish_list_2" style="display: none;">
                <option value="">Seleciona una Opcion </option>
                <option value="1">Select option 1</option>
                <option value="2" >Select option 2</option>
                <option value="3">Select option 3</option>
            </select>
            <div class="dropdown">
                <button class="custom_dropdown_button" data-reference-id="spanish_dropdown_container_2" id="custom_dropdown_button_spanish_list_2">Dropdown</button>
                <div class="dropdown-content" id="spanish_dropdown_container_2">
                  <a href="#" class="fake_option" data-reference-option="1" data-reference-id="spanish_list_2" data-reference-id-button="custom_dropdown_button_spanish_list_2" name="spanish_options">Link 1</a>
                  <a href="#" class="fake_option" data-reference-option="2" data-reference-id="spanish_list_2" data-reference-id-button="custom_dropdown_button_spanish_list_2" name="spanish_options">Link 2</a>
                </div>
            </div>
        </div>

        <div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos consequuntur tenetur tempora fuga hic voluptas perferendis doloribus, molestias saepe blanditiis quod veniam necessitatibus rem asperiores aliquid. Enim aspernatur nemo inventore!
            </p>
        </div>


        {% include "footer.html" %}
    </body>

    <script src={{ url_for('static', filename='js_scripts/general.js') }}></script>
    <script src={{ url_for('static', filename='js_scripts/custom_select_bence.js') }}></script>

</html>